<!DOCTYPE html>
<html>
<head>
    <title>Hello dropdown</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/bootstrap3/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<h1>Hello dropdown</h1>


<div class="dropdown">
    <a id="drop4" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
    <ul id="menu1" class="dropdown-menu" aria-labelledby="drop4">
        <li><a href="http://twitter.com/fat">Action</a></li>
        <li><a href="http://twitter.com/fat">Another action</a></li>
        <li><a href="http://twitter.com/fat">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="http://twitter.com/fat">Separated link</a></li>
    </ul>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/bootstrap/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/bootstrap3/js/bootstrap.min.js"></script>

</body>
</html>
