<html>
<head>
    <link href='/static/css2/fs_style.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css2/fs_structure.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css2/fs_positioning.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css2/tony.css' rel='stylesheet' type='text/css'/>
{#    <link href="/static/bootstrap3/css/bootstrap.min.css" rel="stylesheet" media="screen">#}
</head>
<body>
{% block body %}
{% endblock %}
    <script src="/static/bootstrap/js/jquery.js"></script>
    <script src="/static/bootstrap3/js/bootstrap.min.js"></script>
</body>
</html>