{% extends "sandbox/base.html" %}
{% block mainContent%}
    <div class="content" align="center">
        <div class="home-content-section" align="left">
		
			<!-- FS Home Logo -->
			<img class="fs-logo" src="/static/img2/fs_logo.png"/>
			
			<!-- Home Search -->
            <div class="home-search-box fs-box">
                <input type="text" value="Paste an issue tracker URL, search for an issue name or a project" class="fs-input search home-search-p"/>
                <a href="" class="fs-button medium blue home-search-p">Search</a>
            </div>
			
            <div class="divider"><!-- Divider --></div>
			
			<!-- Sponsored Issues -->
            <div class="card-list-section">
                <div class="card-list-header">
                    <h3 class="boxed medium">Sponsored Issues</h3>
                    <a href="" class="fs-button square grey disabled less">«</a>
                    <a href="" class="fs-button square grey more">»</a>
                    <a href="" class="fs-button medium grey view-all right">View All</a>
                </div>
                <div class="column-wrapper">
                    {% include "sandbox/components/sponsored_issue_card.html" %}
                    {% include "sandbox/components/sponsored_issue_card.html" %}
                    {% include "sandbox/components/sponsored_issue_card.html" %}
                </div>
            </div>

            <div class="divider"><!-- Divider --></div>

			<!-- Proposed Issues -->
            <div class="card-list-section">
                <div class="card-list-header">
                    <h3 class="boxed medium">Proposed Issues</h3>
                    <a href="" class="fs-button square grey disabled less">«</a>
                    <a href="" class="fs-button square grey more">»</a>
                    <a href="" class="fs-button medium grey view-all right">View All</a>
                </div>
                <div class="column-wrapper">
					{% include "sandbox/components/proposed_issue_card.html" %}
                    {% include "sandbox/components/proposed_issue_card.html" %}
                    {% include "sandbox/components/proposed_issue_card.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
