{% extends "sandbox/base.html" %}
{% block mainContent%}
	<div class="content" align="center">
		<div class="content-section" align="left">
			<!-- Issue Title -->
			<h1 class="blue-text">[ Issue ] 688892: Add other samplers that properly reduce (downsample) and warp images </h1>

			<div class="column-wrapper">
			
				<!-- Issue Details -->
				<div class="column fit">

{#                    --------#}
{#                    pra usar tabnavigator, tem que ser com <ul>#}
{#                    --------#}

{#					<div class="card-list-section">#}
{#						<div class="card-list-header">#}
{#							<h3 class="boxed medium">Description</h3>#}
{#							<h3 class="boxed medium">Sponsors (10)</h3>#}
{#							<h3 class="boxed medium">Developers (2)</h3>#}
{#						</div>#}
{#					</div>#}
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                        <li><a href="#sponsors" data-toggle="tab">Sponsors (10)</a></li>
                        <li><a href="#developers" data-toggle="tab">Developers (2)</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="description">
                            <div class="fs-box issue-description">
                                <p>I am putting this enhancement request here so I can point freedomcoders to it,
                                    to get some funding to program it.</p>

                                <p>Right now, only one GEGL sampler is Jacobian-adaptive, which means that only
                                    one sampler properly reduces as well as enlarge, and has the internal machinery
                                    to deal with general affine transformations and non-affine warps. This sampler
                                    is called "LoHalo", and no-one has never seen halo come out of its use, however
                                    if is pretty jaggy when enlarging, and it does not suppress moire quite enough
                                    when reducing, as well as being on the soft side in this situation.</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="sponsors">Tab 2</div>
                        <div class="tab-pane" id="developers">Tab 3</div>

					</div>
				</div>
				
				<div class="hgap-15"><!-- Horizontal Gap 15px --></div>
				
				<!-- Issue Overview -->
				<div class="column medium issue-overview">
					<h3 class="boxed">Overview</h3>
					
					<!-- Overview Info -->
					<div class="fs-box push-footer">
						<!-- Issue Project Logo -->
						<div class="project-logo">
							<img src="/static/img2/project_logos/jenkins_logo.png"/>
                        </div>
						<div class="divider small"><!-- Small Divider --></div>
						<!--Issue Values-->
						<div class="issue-values">
							<h1 class="orange-text arial">$1.000.000</h1>
							<h4 class="orange-text arial">Offered</h4>
							</br>
							<h1 class="arial">$235</h1>
							<h4 class="arial">Paid</h4>
						</div>
						<!-- Issue Status -->
						<div class="card-status working"></div>
						<!-- Box Footer -->
						<div class="fs-box-footer">
							<a href="">Watch</a>
                        </div>
					</div>
					
					<div class="vgap-15"><!-- Vertical Gap 15px --></div>
					
					<!-- Issue Creator -->
					<div class="fs-box issue-creator">
						<div class="column-wrapper">
							<!-- Creator Picture-->
							<div class="user-picture"></div>
							<div class="hgap-15"><!-- Horizotal Gap 15px --></div>
							<!-- Creator Name-->
							<div class="column fit">
								<h5 class="arial">Created by</h5>
								<a href="" class="arial font-size-11">Rafael Augusto dos Santos</a>
							</div>
						</div>		
					</div>
					
					<div class="vgap-15"><!-- Vertical Gap 15px --></div>
					
					<!-- Issue Buttons -->
					<a href="javascript:abre()" class="fs-button green">Sponsor this issue</a>
					<a href="javascript:abre()" class="fs-button blue">Work on this issue</a>
				</div>
				
			</div>
		</div>
	</div>

    <!-- Modal -->
    <div class="modal fade in" id="sponsor_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="fecha()" >&times;</button>
                    <h4 class="modal-title">Sponsor issue</h4>
                </div>
                <div class="modal-body">
                    Modal body
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="fecha()">Close</button>
                    <button type="button" class="btn btn-primary">Sponsor!</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
        function abre(){
            $('#sponsor_modal').modal()
        }
        function fecha(){
            $('#sponsor_modal').modal('hide')
        }
    </script>
{% endblock %}