{% extends "sandbox/base.html" %}
{% block mainContent%}
	<div class="content" align="center">
		<div class="content-section" align="left">
			<!-- Issue Title -->
			<h1 class="blue-text"><a href="">[ Issue ] 688892: Add other samplers that properly reduce (downsample) and warp images</a></h1>

			<div class="column-wrapper">
			
				<!-- Issue Details -->
				<div class="column fit">

					
					<!-- Tab Navigator -->
					<div class="fs-tab-navigator">
					
						<!-- Tab's List -->
						<ul class="tab-list" id="myTab">
							<li class="active"><a href="#description" data-toggle="tab">Description</a></li>
							<li><a href="#sponsors" data-toggle="tab">Sponsors (10)</a></li>
							<li><a href="#developers" data-toggle="tab">Developers (2)</a></li>
						</ul>
						
						<!-- Tab's Content -->
						<div class="tab-content">
						
							<!-- Description Tab -->
							<div class="tab-pane active" id="description">
								<div class="fs-box issue-description">
									<p>I am putting this enhancement request here so I can point freedomcoders to it,
										to get some funding to program it.</p>

									<p>Right now, only one GEGL sampler is Jacobian-adaptive, which means that only
										one sampler properly reduces as well as enlarge, and has the internal machinery
										to deal with general affine transformations and non-affine warps. This sampler
										is called "LoHalo", and no-one has never seen halo come out of its use, however
										if is pretty jaggy when enlarging, and it does not suppress moire quite enough
										when reducing, as well as being on the soft side in this situation.</p>
								</div>
								<div class="divider"><!-- Divider --></div>
								<!-- Comments Tab -->
								<div class="tab-pane active" id="comments">
									<!-- Comment -->
									<div class="column-wrapper">
										<div class="column">
											<div class="user-picture"></div>
										</div>
										<div class="hgap-15"><!-- Horizontal Gap 15px --></div>
										<div class="fs-box push-footer column fit">
											<h4 class="arial"><a href="">Rafael Augusto</a></h4>
											<p>Hi - I saw your comment on the issue and the related new issue https://drupal.org/node/2087487. 
											If there is a way to configure the Webform textfield to use the WYSIWYG editor and not rely on the 
											additional module, then that is also an acceptable outcome here (and preferred as it is one less 
											module to use).</p><p>For me, an alternative and good outcome would be instructions on how to enable 
											and use a WYSIWYG editor on the Webform textfield. I need the default text in the Webform to be HTML 
											with links and enable the user to enter additional text as HTML as well.</p>
											<!-- Comment Footer -->
											<div class="fs-box-footer card-footer">
												<div class="column-wrapper">
													<div class="column fit">
														<span>Aug/20/2013</span>
														<div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
														<a href="">Permalink</a>
													</div>
													<div class="column fit" align="right">
														<a href="">Edit</a>
														<div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
														<a href="">Delete</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<!-- Comment -->
									<div class="vgap-15"><!-- Vertical Gap 15px --></div>							
									<div class="column-wrapper">
										<div class="column">
											<div class="user-picture"></div>
										</div>
										<div class="hgap-15"><!-- Horizontal Gap 15px --></div>
										<div class="fs-box push-footer column fit">
											<h4 class="arial"><a href="">Rafael Augusto</a></h4>
											<p>I am putting this enhancement request here so I can point freedomcoders to it,
												to get some funding to program it.</p>
											<!-- Comment Footer -->
											<div class="fs-box-footer card-footer">
												<div class="column-wrapper">
													<div class="column fit">
														<span>Aug/20/2013</span>
														<div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
														<a href="">Permalink</a>
													</div>
													<div class="column fit" align="right">
														<a href="">Edit</a>
														<div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
														<a href="">Delete</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<!-- Leave a Comment -->
									<div class="vgap-15"><!-- Vertical Gap 60px --></div>
									<div class="column-wrapper">
										<div class="column">
											<div class="user-picture"></div>
										</div>
										<div class="hgap-15"><!-- Horizontal Gap 15px --></div>
										<div class="fs-box column fit">
											<p>Leave your comment. You can use <a href="http://blog.freedomsponsors.org/markdown_formatting/">markdown</a> for formatting </p>
											<textarea></textarea>
											<p class="text-align-right"><a href="" class="fs-button blue medium">Submit</a></p>
										</div>
									</div>
									
								</div>
							</div>
							
							<!-- Sponsors Tab -->
							<div class="tab-pane" id="sponsors">
							
							<!-- Issue Sponsor Header-->
								<div class="fs-box">
									<div class="column-wrapper">
										<div class="column" style="width:185px">
											<span class="font-size-18 ubahn">Sponsor</span>
										</div>
										<div class="column fit">
											<span class="font-size-18 ubahn">Offer</span>
										</div>
										<div class="column fit">
											<span class="font-size-18 ubahn">Acceptance</span>
										</div>
										<div class="column fit centered-text">
											<span class="font-size-18 ubahn">Status</span>
										</div>
										<div class="column fit">
											<span class="font-size-18 ubahn">Date</span>
										</div>
										<div class="column fit">
											<span class="font-size-18 ubahn">Expire Date</span>
										</div>
									</div>
								</div>
								
								<!-- Issue Sponsor Row-->
								<div class="vgap-15"><!-- Vertical Gap 15px --></div>
								<div class="fs-box">
									<div class="column-wrapper" style="height:50px;">
										<!-- Sponsor-->
										<div class="column" style="width:170px;padding-right:15px;">
											<div class="column-wrapper">
												<div class="user-picture"></div>
												<div class="hgap-15"><!-- Horizontal Gap 15px --></div>
												<!-- Sponsor Name -->
												<div class="column small">
													<!-- CSS Table Vertical Align -->
													<div class="table-centered-content"><div class="table-content-cell">
														<a href="" class="arial">Rafael Augusto</a>
													</div></div>
												</div>
											</div>
										</div>
										<!-- Offer -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell">
													<p>US$ 75.00</p>
											</div></div>
										</div>
										<!-- Acceptance -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell">
												<p>No forking</p>
												<p>Release required</p>
											</div></div>
										</div>
										<!-- Status -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell centered-text">
												<p>OPEN</p>
											</div></div>
										</div>
										<!-- Date -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell">
												<p>Aug/20/2013</p>
											</div></div>
										</div>
										<!-- Expire Date -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell">
												<p>Aug/20/2013</p>
											</div></div>
										</div>
									</div>		
								</div>
								
								<!-- Issue Sponsor Row-->
								<div class="vgap-15"><!-- Vertical Gap 15px --></div>
								<div class="fs-box">
									<div class="column-wrapper" style="height:50px;">
										<!-- Sponsor-->
										<div class="column" style="width:170px;padding-right:15px;">
											<div class="column-wrapper">
												<div class="user-picture"></div>
												<div class="hgap-15"><!-- Horizontal Gap 15px --></div>
												<!-- Sponsor Name -->
												<div class="column small">
													<!-- CSS Table Vertical Align -->
													<div class="table-centered-content"><div class="table-content-cell">
														<a href="" class="arial">Rafael Augusto</a>
													</div></div>
												</div>
											</div>
										</div>
										<!-- Offer -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell">
													<p>US$ 75.00</p>
											</div></div>
										</div>
										<!-- Acceptance -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell">
												<p>No forking</p>
												<p>Release required</p>
											</div></div>
										</div>
										<!-- Status -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell centered-text">
												<p>OPEN</p>
											</div></div>
										</div>
										<!-- Date -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell">
												<p>Aug/20/2013</p>
											</div></div>
										</div>
										<!-- Expire Date -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell">
												<p>Aug/20/2013</p>
											</div></div>
										</div>
									</div>		
								</div>
								
								<!-- Issue Sponsor Row-->
								<div class="vgap-15"><!-- Vertical Gap 15px --></div>
								<div class="fs-box">
									<div class="column-wrapper" style="height:50px;">
										<!-- Sponsor-->
										<div class="column" style="width:170px;padding-right:15px;">
											<div class="column-wrapper">
												<div class="user-picture"></div>
												<div class="hgap-15"><!-- Horizontal Gap 15px --></div>
												<!-- Sponsor Name -->
												<div class="column small">
													<!-- CSS Table Vertical Align -->
													<div class="table-centered-content"><div class="table-content-cell">
														<a href="">Rafael Augusto</a>
													</div></div>
												</div>
											</div>
										</div>
										<!-- Offer -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell">
													<p>US$ 75.00</p>
											</div></div>
										</div>
										<!-- Acceptance -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell">
												<p>No forking</p>
												<p>Release required</p>
												<a href="javascript:abre()">More details</a>
											</div></div>
										</div>
										<!-- Status -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell centered-text">
												<p>OPEN</p>
											</div></div>
										</div>
										<!-- Date -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell">
												<p>Aug/20/2013</p>
											</div></div>
										</div>
										<!-- Expire Date -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell">
												<p>Aug/20/2013</p>
											</div></div>
										</div>
									</div>		
								</div>
								
								Tab 2
								<span class="glyphicon glyphicon-question-sign popopo" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." title="Lorem Ipsum"></span>
							</div>
							
							<!-- Developers Tab -->
							<div class="tab-pane" id="developers">
								<!-- Issue Developers Header-->
								<div class="fs-box">
									<div class="column-wrapper">
										<div class="column" style="width:185px">
											<span class="font-size-18 ubahn">Developer</span>
										</div>
										<div class="column fit">
											<span class="font-size-18 ubahn">Status</span>
										</div>
										<div class="column" style="width:100px;">
											<span class="font-size-18 ubahn">Date</span>
										</div>
									</div>
								</div>
								
								<!-- Issue Sponsor Row-->
								<div class="vgap-15"><!-- Vertical Gap 15px --></div>
								<div class="fs-box">
									<div class="column-wrapper" style="height:50px;">
										<!-- Sponsor-->
										<div class="column" style="width:170px;padding-right:15px;">
											<div class="column-wrapper">
												<div class="user-picture"></div>
												<div class="hgap-15"><!-- Horizontal Gap 15px --></div>
												<!-- Sponsor Name -->
												<div class="column small">
													<!-- CSS Table Vertical Align -->
													<div class="table-centered-content"><div class="table-content-cell">
														<a href="" class="arial">Rafael Augusto</a>
													</div></div>
												</div>
											</div>
										</div>
										
										<!-- Status -->
										<div class="column fit">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell">
												<p>IN_PROGRESS / Accepting payments</p>
											</div></div>
										</div>
										<!-- Date -->
										<div class="column" style="width:100px;">
											<!-- CSS Table Vertical Align -->
											<div class="table-centered-content"><div class="table-content-cell">
												<p>Aug/20/2013</p>
											</div></div>
										</div>
									</div>		
								</div>
							</div>

						</div>
					</div>
                    
				</div>
				
				<div class="hgap-15"><!-- Horizontal Gap 15px --></div>
				
				<!-- Issue Overview -->
				<div class="column medium issue-overview">
					<h3 class="boxed">Overview</h3>
					
					<!-- Overview Info -->
					<div class="fs-box push-footer">
						<!-- Issue Project Logo -->
						<div class="project-logo">
							<img src="/static/img2/project_logos/jenkins_logo.png"/>
                        </div>
						<div class="divider small"><!-- Small Divider --></div>
						<!--Issue Values-->
						<div class="issue-values">
							<h1 class="orange-text arial">$1.000.000</h1>
							<h4 class="orange-text arial">Offered</h4>
							</br>
							<h1 class="arial">$235</h1>
							<h4 class="arial">Paid</h4>
						</div>
						<!-- Issue Status -->
						<div class="card-status working"></div>
						<!-- Box Footer -->
						<div class="fs-box-footer">
							<a href="">Watch</a>
                        </div>
					</div>
					
					<div class="vgap-15"><!-- Vertical Gap 15px --></div>
					
					<!-- Issue Creator -->
					<div class="fs-box issue-creator">
						<div class="column-wrapper">
							<!-- Creator Picture-->
							<div class="user-picture"></div>
							<div class="hgap-15"><!-- Horizotal Gap 15px --></div>
							<!-- Creator Name-->
							<div class="column fit">
								<h5 class="arial">Created by</h5>
								<a href="" class="arial font-size-11">Rafael Augusto dos Santos</a>
							</div>
						</div>		
					</div>
					
					<div class="vgap-15"><!-- Vertical Gap 15px --></div>
					
					<!-- Issue Buttons -->
					<a href="javascript:abre()" class="fs-button green">Sponsor this issue</a>
					<a href="javascript:abre()" class="fs-button blue">Work on this issue</a>
					
					<div class="vgap-30"><!-- Vertical Gap 30px --></div>
					
					<!-- Share Buttons -->
					<h3 class="text-align-right">Help fund this issue. Share on:</h3>
					<div class="text-align-right">
						<a href="" class="social-button facebook"></a>
						<div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
						<a href="" class="social-button twitter"></a>
						<div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
						<a href="" class="social-button google"></a>
					</div>
					
				</div>
			</div>
		</div>
	</div>

    <!-- Modal -->
    <div class="modal fade in" id="sponsor_modal">
        <div class="modal-dialog column-wrapper vertical">
			<div class="column fit"></div>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="fecha()" >&times;</button>
                    <span class="modal-title font-size-20 ubahn grey-text">Sponsor issue</span>
                </div>
				<div class="divider small"></div> 
                <div class="modal-body">
                    <p>Modal body</p>
					<p>Modal body</p>
					<p>Modal body</p>
					<p>Modal body</p>
					<p>Modal body</p>
					<p>Modal body</p>
					<p>Modal body</p>
                </div>
                <div class="modal-footer">
					<a href="javascript:fecha()" class="fs-button green medium">Sponsor!</a>
                </div>
            </div>
			<div class="column fit"></div>
        </div>
    </div>
    <script>
        function abre(){
            $('#sponsor_modal').modal()
        }
        function fecha(){
            $('#sponsor_modal').modal('hide')
        }
    </script>
{% endblock %}