<div class="modal fade in" id="alert_modal">
    <div class="modal-dialog column-wrapper vertical">
        <div class="column fit"></div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#alert_modal').modal('hide')">&times;</button>
                <span class="modal-title font-size-20 ubahn grey-text">Proposed! Now what?</span>
            </div>
            <div class="divider small"></div>
            <div class="modal-body">
                <p class="ubahn font-size-20 orante-text text-align-center">Let the world know about it</p>
				<div class="vgap-15"><!-- Vertical Gap 15px --></div>
                <div class="text-align-center">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.freedomsponsors.org/core/issue/{{ issue.id }}" class="social-button facebook" style="width:60px;height:60px;"></a>
                    <div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
                    <a target="_blank" href="https://twitter.com/intent/tweet?url=http://www.freedomsponsors.org/core/issue/{{ issue.id }}&text=I just proposed a Free Software issue on #FreedomSponsors ({{issue.title}})." class="social-button twitter" style="width:60px;height:60px;"></a>
                    <div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
                    <a target="_blank" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.freedomsponsors.org/core/issue/{{ issue.id }}" class="social-button google" style="width:60px;height:60px;"></a>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" onclick="$('#alert_modal').modal('hide')" class="fs-button green medium">OK</a>
            </div>
        </div>
        <div class="column fit"></div>
    </div>
</div>

<script>
  $(function(){
    $('#alert_modal').modal()
  });
</script>
