<div class="modal fade in" id="alert_modal">
    <div class="modal-dialog column-wrapper vertical">
        <div class="column fit"></div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#alert_modal').modal('hide')">&times;</button>
                <span class="modal-title font-size-20 ubahn grey-text">You're almost done</span>
            </div>
            <div class="divider small"></div>
            <div class="modal-body">
                <ul>
                    <li>
                        <p>
							<span>Encourage more people to join you as a sponsor</span>. The best way to do that is to leave a comment on the
							<a href="{{issue.trackerURL}}" target="_issue">original issue</a>.
						</p>
						<div class="vgap-15"><!-- Vertical Gap 15px --></div>
                    </li>
                    <li>
                        <p>
                            Tell <a href="{{issue.project.homeURL}}" target="_project">{{issue.project.name}}</a>'s developers about your sponsorship:
                        </p>
						<div class="vgap-5"><!-- Vertical Gap 5px --></div>
                        <div class="alert alert-info">
                            <textarea class="grey-text font-size-11" spellcheck="false" style="height:133px;line-height: 12px;">I care about getting this fixed, so I'm offering {{myoffer.currency}} {{myoffer.price}} via FreedomSponsors to the first person who fix it.
							
Offer link: {{SITE_HOME}}{{offer.issue.get_view_link}}

If you fix this issue (see my acceptance criteria there) I would gladly pay you.

You can also join me and throw in a few bucks there and we'll get it fixed faster :)
                            </textarea>
							<p class="text-align-right"><a href="">Copy text and open original issue</a></p>
                        </div>
						
                    </li>
                </ul>
            </div>
            <div class="modal-footer inline-content">
				<div class="column-wrapper vcenter-content" style="height:28px;">
					<div>Share this on social network:</div>
					<div class="column fit text-align-left">
						<div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
						<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.freedomsponsors.org/core/issue/{{ issue.id }}" class="social-button facebook" style="height:28px"></a>
						<div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
						<a target="_blank" href="https://twitter.com/intent/tweet?url=http://www.freedomsponsors.org/core/issue/{{ issue.id }}&text=I just placed a bounty for a Free Software issue on #FreedomSponsors ({{issue.title}})." class="social-button twitter" style="height:28px"></a>
						<div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
						<a target="_blank" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.freedomsponsors.org/core/issue/{{ issue.id }}" class="social-button google" style="height:28px"></a>
					</div>
					<div class="hgap-15 inline"><!-- Horizontal Gap 15px --></div>
					<div><a href="#" onclick="$('#alert_modal').modal('hide')" class="fs-button green medium">OK</a></div>
				</div>
            </div>
        </div>
        <div class="column fit"></div>
    </div>
</div>

<script>
  $(function(){
    $('#alert_modal').modal()
  });
</script>
