<div class="modal fade in" id="alert_modal">
    <div class="modal-dialog column-wrapper vertical">
        <div class="column fit"></div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#alert_modal').modal('hide')">&times;</button>
                <span class="modal-title font-size-20 ubahn grey-text">You're almost done</span>
            </div>
            <div class="divider small"></div>
            <div class="modal-body">
                <ul>
                    <li>
                        <p>Encourage more people to join you as a sponsor</p>
                        <div class="text-align-right">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.freedomsponsors.org/core/issue/{{ issue.id }}" class="social-button facebook"></a>
                            <div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
                            <a target="_blank" href="https://twitter.com/intent/tweet?url=http://www.freedomsponsors.org/core/issue/{{ issue.id }}&text=I just placed a bounty for a Free Software issue on #FreedomSponsors ({{issue.title}})." class="social-button twitter"></a>
                            <div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
                            <a target="_blank" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.freedomsponsors.org/core/issue/{{ issue.id }}" class="social-button google"></a>
                        </div>

                    </li>
                    <li>
                        <p>
                            Tell
                            <a href="{{issue.project.homeURL}}" target="_project">{{issue.project.name}}</a>'s
                            developers about your sponsorship.
                        </p>
                        <p>
                            The best way to do that is to drop a comment on the
                            <a href="{{issue.trackerURL}}" target="_issue">original issue</a>.<br>
                            Go ahead and copy the text below if you like:
                        </p>
                        <div class="alert alert-info">
                            <p>
                                I care about getting this fixed, so I'm offering {{myoffer.currency}} {{myoffer.price}} to the first person to fix it.

                                If you're not able to fix this yourself but you care about it too, throw in a few bucks with me and we'll get it fixed faster :)

                                The offer is made at {{SITE_HOME}}{{offer.issue.get_view_link}} so if you fix this issue (according to the acceptance criteria described there) please use that site to let everyone know.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="#" onclick="$('#alert_modal').modal('hide')" class="fs-button green medium">OK</a>
            </div>
        </div>
        <div class="column fit"></div>
    </div>
</div>

<script>
  $(function(){
    $('#alert_modal').modal()
  });
</script>
