env_settings.py*
test_settings.py*
*.pyc
.project
.pydevproject
fakeMail
.settings
logs/*.log
djangoproject/logs/*.log
chromedriver.log
.idea
.coverage
.coverage.*
coverage_html_report
report.xml
htmlcov
bitcoin_json.txt
bitcoin_senhas.txt
bin
lib
build
distribute-0.6.24.tar.gz
local
include/python2.7
include/python2.6
#django.mo
*.db
.noseids
nosetests.1
djangoproject/core/static/media
ENV
Include
Scripts
