env_settings.py
*.pyc
.project
.pydevproject
fakeMail
.settings
logs
chromedriver.log
.idea
.coverage
.coverage.*
coverage_html_report
report.xml
htmlcov
bitcoin_json.txt
bitcoin_senhas.txt
bin
lib
build
distribute-0.6.24.tar.gz
local
include/python2.7
django.mo
*.db
