django==1.4
splinter==0.4.9
Pygments==1.5
misaka==1.0.2
psycopg2==2.4.5
simplejson==2.6.2
coverage==3.6b1
python-dateutil==2.1
six==1.2.0
Unipath==0.2.1
dj-database-url==0.2.1
django-nose==1.1
rednose==0.3
httplib2==0.7.7
django-social-auth==0.7.27
requests==0.14.1
django-pagination==1.0.7
south==0.7.5
bitcoin-python==0.3
git+git://github.com/pinax/django-mailer.git@887ec2c9d8e05d061293b56ff913a9b293c42aa0#egg=django-mailer
git+git://github.com/freedomsponsors/python-paypalx.git@34d624ed8a7b6505aa6e6e12c0a5b854cacbc612#egg=paypalx
django-registration==0.8
django-emailmgr==0.9
PIL==1.1.7
mock==1.0.1
