/* ----------------------- SUMMARY -----------------------

- General

- Header
 
- Content
	- Titles
	- Boxes
	- Dividers

- Footer

- FS Inputs
	- Input syles
	- Search input styles

- FS Buttons
	- Style
	- Colors
	- Sizes

- FS Card List
	- Card list header
	- Card list
	
- FS Cards
	- Card header
	- Card content
	- Card footer
	- Sponsored card
	- Proposed card
	- Project card
	- Card status
   
*/

/* General
----------------------------------------------- */

@font-face {
    font-family: 'Ubahn';
    src: url('../fonts/ubahn-webfont.eot');
    src: url('../fonts/ubahn-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ubahn-webfont.svg#ubahnregular') format('svg'),
         url('../fonts/ubahn-webfont.woff') format('woff'),
         url('../fonts/ubahn-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubahn-Light';
    src: url('../fonts/ubahn-light-webfont.eot');
    src: url('../fonts/ubahn-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ubahn-light-webfont.svg#ubahn-lightregular') format('svg'),
         url('../fonts/ubahn-light-webfont.woff') format('woff'),
         url('../fonts/ubahn-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ubahn{
	font-family: "Ubahn", Arial, sans-serif;
}

.ubahn-light{
	font-family: "Ubahn-Light", Arial, sans-serif;
}

a{
	color: #27AAE1;
	text-decoration:none;
}

/* Header
----------------------------------------------- */

a.menu-option {
	font-family: 'Ubahn', Arial, sans-serif;
	font-size: 13pt;
	color: #BCBEC0;
	text-decoration:none;
	float:left;
	margin-left:15px;
	margin-right:15px;
}

a.menu-option:hover {
	color: #FFB92D;
}

a.social-login{
	width:20px;
	height:20px;
	display:inline-block;
	vertical-align:-5px;
	margin-left: 5px;
	margin-right: 5px;
}

a.social-login.google{
	background:transparent url(../images2/social_login_google.png) center top no-repeat;
}
a.social-login.github{
	background:transparent url(../images2/social_login_github.png) center top no-repeat;
}
a.social-login.facebook{
	background:transparent url(../images2/social_login_facebook.png) center top no-repeat;
}
a.social-login.twitter{
	background:transparent url(../images2/social_login_twitter.png) center top no-repeat;
}

/* Content
----------------------------------------------- */

/* Titles */

.fs-title{
	width:165px;
	height:32px;
	display: inline-block;
	margin:1px;
	
	font-family: "Ubahn", Arial, sans-serif;
	font-size:18px;
	line-height:30px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-goog-ms-border-radius: 3px;
	border-radius: 3px;
	
	color: #FFF;
	background-color: #323232;
}

/* Boxes */

.fs-box{
	background-color:#FFF;
	
	border: 1px solid #E6E7E8;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-goog-ms-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, .2);
	-goog-ms-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, .2);
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, .2);
}

/* Dividers */

div.divider{
	border-bottom: 1px solid rgba(200, 200, 200, .3);
	box-shadow: 0px 10px 15px -10px #D1D1D1;
	height: 20px;
	width: 100%; /*TODO: rever tamanho padrao*/
	position:relative;
	margin-bottom:30px;
	margin-top:15px;
}

div.divider:before{
	content:"";
	position:absolute;
	border-bottom: 1px solid rgba(200, 200, 200, .1);
	box-shadow: 0px 7px 15px -10px #D1D1D1;
	width: 80%;
	top:1px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	height:20px;
}

div.divider.small{
	border-bottom: 1px solid rgba(200, 200, 200, .3);
	box-shadow: 0px 4px 15px -7px #D1D1D1;
	height: 15px;
	width: 80%; /*TODO: rever tamanho padrao*/
	position:relative;
	margin-bottom:20px;
	margin-top:0px;
	margin-left:auto;
    margin-right:auto;
}

div.divider.small:before{
	content:"";
	position:absolute;
	border-bottom: 1px solid rgba(200, 200, 200, .1);
	box-shadow: 0px 1px 15px -7px #D1D1D1;
	width: 80%;
	top:1px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	height:15px;
}

/* Footer
----------------------------------------------- */

.footer-link{
	margin-right:20px;
}

/* FS Inputs
----------------------------------------------- */

/* Input styles */ 
input.fs-input{
	color: #B9B9B9;
	line-height: 10px;
	
	border: 1px solid #E6E7E8;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-goog-ms-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: inset 0px 4px 15px -5px #eee;
	-moz-box-shadow: inset 0px 4px 15px -5px #eee;
	box-shadow: inset 0px 4px 15px -5px #eee;

	padding: 5px 20px 5px 5px;
	margin: 0px;
}

input.fs-input.black{
	background-color: #1E1E1E!important;
	color: #939598;
	border: 1px solid black;
	
	-webkit-box-shadow: inset 0px 4px 15px -5px #000;
	-moz-box-shadow: inset 0px 4px 15px -5px #000;
	box-shadow: inset 0px 4px 15px -5px #000;
}

/* Search input styles */ 
input.fs-input.search{
	background: url(../images2/search_icon.png) no-repeat;
	background-position: -moz-calc(100% - 8px);
	background-position: -webkit-calc(100% - 8px);
	background-position: calc(100% - 8px);
}

input.fs-input.search.black{
	background: url(../images2/search_icon_menu.png) no-repeat;
	background-position: -moz-calc(100% - 8px);
	background-position: -webkit-calc(100% - 8px);
	background-position: calc(100% - 8px);
}

/* FS Buttons
----------------------------------------------- */

/* Style */
.fs-button{
	display: inline-block;
	position: relative;
	margin:4px;
	
	width: -moz-calc(100% - 8px);
	width: -webkit-calc(100% - 8px);
	width: calc(100% - 8px);
	height: 26px;
	line-height: 26px;
	
	text-align:center;
	font-size: 18px;
	font-family: "Ubahn", Arial, sans-serif;
	
	color: #FFF;
	background-color: #000;
}

.fs-button:before {
	content: "";/* Necessary to render the border*/
	
    border: 2px solid #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-goog-ms-border-radius: 3px;
	border-radius: 3px;
    
    position: absolute;
    top: -3px; 
    bottom: -3px; 
    left: -3px; 
    right: -3px; 
}

/* Colors */

.fs-button.blue{
	background-color: #27AAE1;
}

.fs-button.blue:before{
	border-color: #27AAE1;
}

.fs-button.green{
	background-color: #8DC63F;
}

.fs-button.green:before{
	border-color: #8DC63F;
}

.fs-button.grey{
	color: #505050;
	background-color: #E1E1E1;
}

.fs-button.orange:before{
	border-color: #FFB92D;
}

.fs-button.orange{
	background-color: #FFB92D;
}

.fs-button.grey:before{
	border-color: #E1E1E1;
}

.fs-button.grey.disabled{
	color: #B4B4B4;
}



/* Sizes */
.fs-button.medium{
	width: 118px;
}

.fs-button.square{
	width: 26px;
}

/* FS Card List
----------------------------------------------- */

/* Card list header */

.card-list-header{
	position:relative;

}

.card-list-header .fs-title, .card-list-header .less,
.card-list-header .more{
	float: left;
}

.card-list-header .view-all{
	float: right;
}

/* Card list */

.card-list{
	clear:both;
}

.card-list .fs-box.middle{
	margin-left: -moz-calc(100% - 8px);
	margin-left: -webkit-calc(100% - 8px);
	margin-left: calc((100% - 3*260px)/2); /*TODO: ajustar valores de acordo com numero de cards por linha*/
	margin-right: calc((100% - 3*260px)/2); /*TODO: ajustar valores de acordo com numero de cards por linha*/
}

/* FS Cards
----------------------------------------------- */

.issue-card{
	height: 365px;
	width: 228px;
	text-align:left;
	margin-top: 30px;
	display: inline-block;
	float:left;
	padding:15px;
	position:relative;
}

/* Card header*/

.issue-card .card-title{
	color:#1C75BC;
	font-family: "Ubahn", Arial, sans-serif;
	font-size:18px;
}

/* Card content*/

.issue-card  .card-caption{
	font-family: Arial, sans-serif;
	font-size:12px;
}

.issue-card  .card-caption.orange{
	color:#FFB92D;
}

.issue-card .description{
	max-height:65px;
	overflow: hidden;
	word-wrap:break-word;
}

div.project-logo {
	height:58px;
	width:100%;
}

div.project-logo > img{
	height:auto;
	width:100%;
}

/* Card footer*/

.issue-card .card-footer{
	height:24px;
	
	font-size:11px;
	line-height: 24px;
	
	background-color:#F1F2F2;
	border-top: 1px solid #E6E7E8;
	
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
}

.card-footer .views{
	position:absolute;
	left:10px;
}

.card-footer .comments{
	position:absolute;
	right:10px;
}

/* Sponsored card*/

.issue-card .card-sponsors{
	text-align:right;
	position:relative;
	margin-top:20px;
	margin-bottom:10px;
}

.sponsor-picture{
	width:50px;
	height:50px;
	background-color: #F1F2F2;
	display:inline-block;
	margin-left:5px;
	margin-bottom:3px;
}

.sponsor-picture:first-child{
	margin-left:0px!important;
}

.sponsored div.project-logo {
	height:58px;
	width:180px;
		
	position:absolute;
	left:15px;
	bottom:32px;
}

.sponsored div.project-logo > img{
	max-height:58px;
	max-width:180px;
	height:auto;
	width:auto;
}

/* Proposed card*/

.proposed .description{
	height:130px;
	max-height:130px;
	overflow: hidden;
}

/* Project card*/

/* Card status */
.card-status{
	width:72px;
	height:72px;
	display:inline-block;
	position:absolute;
	right:0px;
	bottom:25px;
}

.card-status.open{
	background: url(../images2/card_status_open.png)  no-repeat;
}

.card-status.working{
	background: url(../images2/card_status_working.png)  no-repeat;
}

.card-status.done{
	background: url(../images2/card_status_done.png)  no-repeat;
}



















