{% with hid=name|add:"id" tid=name|add:"name" tclass=tclass|default:"" tval=tval|default:"" hval=hval|default:"" %}
<input type="hidden" id="{{hid}}" name="{{hid}}" value="{{hval}}">
<input type="text" id="{{tid}}" name="{{tid}}" value="{{tval}}"
  class="{{tclass}}" 
  placeholder="{{ placeholder|default:'Project'}}" 
  data-items="{{ items|default:'5'}}"
  style="margin: 0 auto;" data-provide="typeahead"  autocomplete="off">

<script>
  $(function(){
    $('#{{tid}}').typeahead({ 
      source: function (typeahead, query) {
        if(typeahead && query){
          $.ajax({
            url: '{{ajaxpath}}',
            data:{query:query},
            dataType: 'JSON',
            async: true,
            success: function(data){
              typeahead.process(data);
                $('#bootstrap-content').append($('.typeahead'));
            },
            error: function(a,b,c){
            }
          });
        }
      },
      onselect: function(data){
        $('#{{hid}}').val(data.id);
      }
    });
  });
</script>
{% endwith %}