<div>
    <div ng-repeat="activity in activities" style="border: solid 1px; margin-bottom: 20px">
        <div ng-switch on="activity.action">
            <div ng-switch-when="EDIT_PROJECT">
                <span title="{[{ activity.creationDate }]}"> {[{ activity.when }]}</span><br>
                <img ng-src="{[{activity.user_image}]}"> {[{ activity.user_screenname }]}
                has edited project details. <br><a href ng-click="show_detail(activity)">More...</a>
            </div>
            <div ng-switch-when="PROJECT_ADD_TAG">
                <span title="{[{ activity.creationDate }]}"> {[{ activity.when }]}</span><br>
                <img ng-src="{[{activity.user_image}]}"> {[{ activity.user_screenname }]}
                added tag <strong>{[{ activity.new_json }]}</strong> to project.
            </div>
            <div ng-switch-when="PROJECT_REMOVE_TAG">
                <span title="{[{ activity.creationDate }]}"> {[{ activity.when }]}</span><br>
                <img ng-src="{[{activity.user_image}]}"> {[{ activity.user_screenname }]}
                removed tag <strong>{[{ activity.new_json }]}</strong> from project.
            </div>
            <div ng-switch-when="SPONSOR">
                <span title="{[{ activity.creationDate }]}"> {[{ activity.when }]}</span><br>
                <img ng-src="{[{activity.user_image}]}"> {[{ activity.user_screenname }]}
                sponsored issue <a href="{[{ activity.issue.link }]}">{[{ activity.issue.title }]}</a>,
                with a {[{ activity.new_dic.currency }]} {[{ activity.new_dic.price }]} offer.
            </div>
            <div ng-switch-when="CHANGE_OFFER">
                <span title="{[{ activity.creationDate }]}"> {[{ activity.when }]}</span><br>
                <img ng-src="{[{activity.user_image}]}"> {[{ activity.user_screenname }]}
                has changed his offer on issue <a href="{[{ activity.issue.link }]}">{[{ activity.issue.title }]} </a>
                <br><a href ng-click="show_detail(activity)">More...</a>
            </div>
            <div ng-switch-when="REVOKE">
                <span title="{[{ activity.creationDate }]}"> {[{ activity.when }]}</span><br>
                <img ng-src="{[{activity.user_image}]}"> {[{ activity.user_screenname }]}
                revoked his {[{ activity.new_dic.currency }]} {[{ activity.new_dic.price }]} offer
                on issue <a href="{[{ activity.issue.link }]}">{[{ activity.issue.title }]}</a>
                <span ng-show="activity.issue_comment_content">
                    and also left a comment - <a href ng-click="show_detail(activity)">See comment</a>
                </span>
            </div>
            <div ng-switch-when="PROPOSE">
                <span title="{[{ activity.creationDate }]}"> {[{ activity.when }]}</span><br>
                <img ng-src="{[{activity.user_image}]}"> {[{ activity.user_screenname }]}
                proposed issue <a href="{[{ activity.issue.link }]}">{[{ activity.issue.title }]} </a>
            </div>
            <div ng-switch-when="WORK">
                <span title="{[{ activity.creationDate }]}"> {[{ activity.when }]}</span><br>
                <img ng-src="{[{activity.user_image}]}"> {[{ activity.user_screenname }]}
                started working on issue <a href="{[{ activity.issue.link }]}">{[{ activity.issue.title }]}</a>
                <span ng-show="activity.issue_comment_content">
                    and also left a comment - <a href ng-click="show_detail(activity)">See comment</a>
                </span>
            </div>
            <div ng-switch-when="ABORT">
                <span title="{[{ activity.creationDate }]}"> {[{ activity.when }]}</span><br>
                <img ng-src="{[{activity.user_image}]}"> {[{ activity.user_screenname }]}
                stopped working on issue <a href="{[{ activity.issue.link }]}">{[{ activity.issue.title }]}</a>
                <span ng-show="activity.issue_comment_content">
                    and also left a comment - <a href ng-click="show_detail(activity)">See comment</a>
                </span>
            </div>
            <div ng-switch-when="RESOLVE">
                <span title="{[{ activity.creationDate }]}"> {[{ activity.when }]}</span><br>
                <img ng-src="{[{activity.user_image}]}"> {[{ activity.user_screenname }]}
                resolved issue <a href="{[{ activity.issue.link }]}">{[{ activity.issue.title }]} </a>
                <span ng-show="activity.issue_comment_content">
                    and also left a comment - <a href ng-click="show_detail(activity)">See comment</a>
                </span>
            </div>
            <div ng-switch-when="PAY">
                <span title="{[{ activity.creationDate }]}"> {[{ activity.when }]}</span><br>
                <img ng-src="{[{activity.user_image}]}"> {[{ activity.user_screenname }]}
                made a {[{ activity.payment.currency }]} {[{ activity.payment.total }]} payment
                for issue <a href="{[{ activity.issue.link }]}">{[{ activity.issue.title }]} </a><br>
                Receivers:<br>
                <ul>
                    <li ng-repeat="part in activity.payment.parts">
                        <img ng-src="{[{part.programmer_image}]}"> {[{ part.programmer_screenname }]}: {[{ activity.payment.currency }]} {[{ part.price }]}
                    </li>
                </ul>
            </div>
            <div ng-switch-default>
                Unknown activity: {[{activity.action }]}
            </div>
        </div>
    </div>
    <div ng-show="loading"><img src="/static/img2/ajax-loader.gif"></div>
    <div ng-show="show_more()">
        <button ng-click="more()">More...</button>
    </div>


    <div class="modal fade in" id="activity_detail">
        <div class="modal-dialog column-wrapper vertical">
            <div class="column fit"></div>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="$('#activity_detail').modal('hide')">&times;</button>
                    <span class="modal-title font-size-20 ubahn grey-text">{[{ selected_activity.action }]}</span>
                </div>
                <div class="divider small"></div>
                <div class="modal-body">
                    <div ng-switch on="selected_activity.action">
                        <div ng-switch-when="EDIT_PROJECT">
                            <ul>
                                <li>
                                    old image: {[{ selected_activity.old_dic.image3x1 }]}
                                </li>
                                <li>
                                    new image: {[{ selected_activity.new_dic.image3x1 }]}
                                </li>
                                <li>
                                    old description:<br>
                                    <pre>{[{ selected_activity.old_dic.description }]}</pre>
                                </li>
                                <li>
                                    new description:<br>
                                    <pre>{[{ selected_activity.new_dic.description }]}</pre>
                                </li>
                            </ul>
                        </div>
                        <div ng-switch-when="CHANGE_OFFER">
                            <ul>
                                <li>
                                    old value: {[{ selected_activity.old_dic.currency }]} {[{ selected_activity.old_dic.price }]}
                                </li>
                                <li>
                                    new value: {[{ selected_activity.new_dic.currency }]} {[{ selected_activity.new_dic.price }]}
                                </li>
                                <li>
                                    old acceptance criteria:<br>
                                    <pre>{[{ selected_activity.old_dic.acceptanceCriteria }]}</pre>
                                </li>
                                <li>
                                    new acceptance criteria:<br>
                                    <pre>{[{ selected_activity.new_dic.acceptanceCriteria }]}</pre>
                                </li>
                            </ul>
                        </div>
                        <div ng-switch-when="REVOKE">
                            Revoke comment:
                            <pre>
                                {[{ selected_activity.issue_comment_content }]}
                            </pre>
                        </div>
                        <div ng-switch-when="WORK">
                            Work start comment:
                            <pre>
                                {[{ selected_activity.issue_comment_content }]}
                            </pre>
                        </div>
                        <div ng-switch-when="ABORT">
                            Abort work comment:
                            <pre>
                                {[{ selected_activity.issue_comment_content }]}
                            </pre>
                        </div>
                        <div ng-switch-when="RESOLVE">
                            Resolve comment:
                            <pre>
                                {[{ selected_activity.issue_comment_content }]}
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="modal-footer inline-content">
                    <div class="column-wrapper vcenter-content" style="height:28px;">
                        <div class="hgap-15 inline"><!-- Horizontal Gap 15px --></div>
                        <div><a href="#" onclick="$('#activity_detail').modal('hide')" class="fs-button green medium">OK</a></div>
                    </div>
                </div>
            </div>
            <div class="column fit"></div>
        </div>
    </div>

</div>