{% extends "core/empty_base.html" %}
{% load i18n %}
{% block body %}

  <style type="text/css">
  /* Start by setting display:none to make this hidden.
     Then we position it in relation to the viewport window
     with position:fixed. Width, height, top and left speak
     speak for themselves. Background we set to 80% white with
     our animation centered, and no-repeating */
  .modal_ajax {
      display:    none;
      position:   fixed;
      z-index:    1000;
      top:        0;
      left:       0;
      height:     100%;
      width:      100%;
      background: rgba( 255, 255, 255, .8 ) 
                  url('/static/img/loading.gif') 
                  50% 50% 
                  no-repeat;
  }

  /* When the body has the loading class, we turn
     the scrollbar off with overflow:hidden */
  body.loading {
      overflow: hidden;   
  }

  /* Anytime the body has the loading class, our
     modal element will be visible */
  body.loading .modal_ajax {
      display: block;
  }
  </style>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=369044503149181";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    {% include "core/navbar.html" %}

    <div class="container-fluid">
      
      <!-- messages -->
      {% if messages %}
      {% for message in messages %}
      <div class="alert fade in {% if message.tags %} alert-{{ message.tags }} {% endif %} ">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <ul class="messages">
              <li>{{ message }}</li>
          </ul>
      </div>
      {% endfor %}
      {% endif %}

      <!-- 3tops -->
      <div id="base-top" class="row-fluid" style="">
        <div class="span2">
        {% block topleft %}
        {% endblock %}
        </div>
        <div class="span8">
        {% block topmiddle %}
        {% endblock %}
        </div>
        <div class="span2" style="">
        {% block topright %}
          <div class="fb-like" data-href="{{SITE_HOME}}{{request.path}}" data-send="true" data-layout="button_count" data-width="120" data-show-faces="true"></div>
        
          <div style="float:left;">
           <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.freedomsponsors.org" data-text="Check this out! FreedomSponsors - Crowdfunding Open Source, one issue at a time" data-via="freedomsponsors" data-hashtags="freedomsponsors">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          </div>
          
          <div style="float:left;"> 
           <a href="https://plus.google.com/share?url=http://www.freedomsponsors.org" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Share on Google+"/></a>
          </div>
          
        {% endblock %}
        </div>
      </div>
      
      <!-- main -->
      <div id="base-main" class="row-fluid">
        <div class="span1">
        </div><!--/span-->
        <div class="span10">
          {% if show_alert %}
          {% include show_alert %}
          {% endif %}

            <!-- general purpose modal for displaying Ajax-loaded content -->
            <div class="modal hide fade in" id="ajax_popup_modal">
            </div>
            <div id="main-content">
          {% block mainContent %}
            <p> put some content here </p>
          {% endblock %}
            </div>
        </div><!--/span-->

        <div class="span1">
        </div>
      </div><!--/row-->


    </div>

      <hr>

      <div class="navbar navbar-fixed-bottom" style="height: 30px">
        <div class="navbar-inner">
          <div class="container-fluid">
            <div class="row-fluid" style="">
              <div class="span1"></div>
              <div class="span10">
                <p style="text-align:center">© FreedomSponsors 2012 
                  | <a target="_about" href="http://blog.freedomsponsors.org/about">{% trans "About" %}</a> 
                  | <a target="_about" href="http://blog.freedomsponsors.org/faq">{% trans "FAQ" %}</a>
                  | <a target="_about" href="http://blog.freedomsponsors.org/developers">{% trans "Developers" %}</a>
                  | <a href="/core/feedback">{% trans "Feedback" %}</a>
                  | <a href="/core/project">{% trans "Project list" %}</a>
                  | <a href="http://www.facebook.com/freedomsponsors" target="_facebook">{% trans "Facebook" %}</a>
                  | <a href="http://www.twitter.com/freedomsponsors" target="_twitter">{% trans "Twitter" %}</a>
                </p>
              </div>
              <div class="span1"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal_ajax"></div>
    </div><!--/.fluid-container-->
    
  <script>
    $(function(){
      $('.popopo').popover({trigger:'hover'})
      $(".popopo_stay")
          .popover({
              offset: 10,
              trigger: 'manual',
              animate: false,
              html: true,
              placement: 'left',
              template: '<div class="popover" onmouseover="$(this).mouseleave(function() {$(this).hide(); });"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'

          }).click(function(e) {
              e.preventDefault() ;
          }).mouseenter(function(e) {
              $(this).popover('show');
          });
    });
  </script>

{% endblock body %}
