{% extends "core/base.html" %}
{% block mainContent%}

  <div class="span1"></div>
  <div class="span8">
    <h1>Documentation for developers</h1>
    <hr>
    <h3>1) "Sponsor this issue" </h3>
    <p>
      Make a "Sponsor this issue" link by pointing it to "http://www.freedomsponsors.org/core/sponsor" <br>
      That URL needs a get parameter "trackerURL", which is the "original" issue URL. <br>
      Examples: <br>
      <a class="btn btn-primary" href="http://www.freedomsponsors.org/core/issue/sponsor?trackerURL=https://hibernate.onjira.com/browse/HHH-1050">Sponsor HQL Unions on Hibernate</a> 
      <a class="btn btn-primary" href="http://www.freedomsponsors.org/core/issue/sponsor?trackerURL=https://issues.jenkins-ci.org/browse/JENKINS-9216">Sponsor Google Apps Authentication for Jenkins</a>
    </p>
    <hr>
    <h3>2) iframe javascript callback </h3>
    <p>
      If you like, you can open the link above inside an iframe. <br>
      That would make sense if you're building an issue tracker (it's what we use on the <a href="http://www.freedomsponsors.org/core/issue/12/jira-plugin-to-link-from-tickets-to-freedomsponsors">JIRA Plugin</a>) <br>
      If you use that approach, you can implement a javascript callback function on the parent window. 
      That callback function will be invoked after the offer is successfully registered on FreedomSponsor's database. <br>
      <a href="/static/fs_from_iframe.html">See an example</a> of what such an iframe would look like.
    </p>
    <hr>
    <h3>3) get_offers (json API) </h3>
    <p>
      After you get the javascript confirmation callback, you might want to verify if the offer was really created.<br>
      You can use the "get_offers" json call at "http://www.freedomsponsors.org/core/json/get_offers"<br>
      Parameters (GET):<br>
      * trackerURL (required) - the "original" issue URL <br>
      * sponsor_id (optional) - "sponsored by" filter <br>
      Examples:<br>
      * <a href="http://www.freedomsponsors.org/core/json/get_offers?trackerURL=https://hibernate.onjira.com/browse/HHH-1050"> All offers for Hibernate SQL Unions</a> <br>
      * <a href="http://www.freedomsponsors.org/core/json/get_offers?trackerURL=https://issues.jenkins-ci.org/browse/JENKINS-9216"> All offers for Google Apps Authentication for Jenkins</a> <br>
      * <a href="http://www.freedomsponsors.org/core/json/get_offers?trackerURL=https://issues.jenkins-ci.org/browse/JENKINS-9216&sponsor_id=2"> Same as above, sponsored by user_id=2</a> <br>
      * <a href="http://www.freedomsponsors.org/core/json/get_offers?trackerURL=https://issues.jenkins-ci.org/browse/JENKINS-9216&sponsor_id=1"> Same thing, user_id=1</a>    
    </p>
    <hr>
    <h3>Got any questions?</h3>
    <p>
      Drop us a <a href="{% url core.views.feedback_views.feedback %}">feedback line</a> or <a href="https://github.com/freedomsponsors">find us on github</a>.<br>    
      We'll be more than happy to help! ;-)
    </p>
  </div>
  <div class="span1"></div>


{% endblock mainContent%}
