{% extends "core/base.html" %}
{% load i18n %}

{% block topmiddle %}
          <!-- logo / slogan -->
          <div style="margin: 0 auto; width:600px;">
            <div> <img src="/static/img/FS_horizontal_logo_colored_482.png"> </div>
            <div style="margin-top:30px">
              <span class="slogan">{% trans "Crowdfunding Free Software, one issue at a time" %}</span> 
            </div>
            <div>
              <span class="introductionText">{% trans "Place money bounties for open source projects <strong>issues</strong>" %}. <a target="_about" href="http://blog.freedomsponsors.org/about">{% trans "Learn more..." %}</a></span>
            </div>
          </div>
{% endblock %}

{% block mainContent%}

    <!-- miniform sponsor/kickstart -->
    <div style="margin-top:30px;">
      <form class="well form-inline" id="the_form" method="GET" action="/core/issue/add" style="width:600px;margin: 0 auto;">
        <legend>{% trans "Sponsor/Kickstart a new issue" %}</legend>
        <label>{% trans "Issue URL" %}</label>
        <input type="text" name="trackerURL" id="trackerURL" class="input-xlarge" placeholder="{% trans 'Paste the issue URL' %}">
        <input type="hidden" name="operation" id="operation">
        <button id="btnKickstart" class="btn btn-primary ">{% trans "Kickstart &gt;&gt;" %}
          <i class="icon-question-sign icon-white popopo_stay" rel="popover" data-content="Create an issue without an offer, just to draw everyone's attention to it. See more in <a href='http://blog.freedomsponsors.org/kickstarting-issues/'>the blog</a>!" data-original-title="What's this?"></i>
        </button> 
        <button id="btnSponsor" class="btn btn-primary ">{% trans "Sponsor &gt;&gt;" %}</button>
        <div class="btn-toolbar">
          <div class="btn-group pull-right">
          </div>
          <div class="btn-group pull-right" style="margin-left:10px;">
          </div>
        </div>
      </form>
    </div>
    <script>
      $(function(){
        var $trackerURL = $('#trackerURL');
        var _trackerURL = document.getElementById('trackerURL');
        var $operation = $('#operation');
        var _the_form = document.getElementById('the_form');
        var _btnSponsor = document.getElementById('btnSponsor');
        var _btnKickstart = document.getElementById('btnKickstart');

        var validate_form = function(){
          var urlVal = $trackerURL.val();
          if(!urlVal){
            alert('Please type an issue URL');
            return false;
          }
          return true;
        }

        var sponsor_onclick = function(){
          if(validate_form()){
            $operation.val('SPONSOR')
            _the_form.submit();
          }
          return false;
        };

        var kickstart_onclick = function(){
          if(validate_form()){
            $operation.val('KICKSTART')
            _the_form.submit();
          }
          return false;
        };

        var trackerURL_onkeypress = function(event){
          if(event.keyCode == 13){
            sponsor_onclick();
          }
          return event.keyCode != 13;
        }; 

        _btnSponsor.onclick = sponsor_onclick;
        _btnKickstart.onclick = kickstart_onclick;
        _trackerURL.onkeypress = trackerURL_onkeypress; //desabilita o enter

      })
    </script>

    <!-- two tables -->
    <hr class="center">
        <div class="row">
          <div class="span6" style="">

            <!-- left = sponsored -->
            <h2>{% trans "Sponsored" %}</h2>
            <table class="table table-striped table-condensed"><tbody>
              {% for issue in issues_sponsoring %}
              <tr>
                <td class="hometablecell" style="width:30px">{{forloop.counter}}.</td>
                <td class="hometablecell" style="width:70px">
                  {% include 'core/green_and_orange.html' with vOpen=issue.open_amount vPaid=issue.paid_amount %}
                </td>
                <td class="hometablecell"><a href="{{issue.get_view_link}}"
                  {% if issue.paid_amount %}
                   style="color:#090;"
                  {% endif %}
                 >
                  {% if issue.paid_amount %}
                   <strong>PAID: </strong>
                  {% endif %}
                 {{issue}}</a></td>
              </tr>
              {% endfor %}
              
            </tbody></table>
            <div class="">
              <a href="/core/issue?operation=SPONSOR">{% trans "More..." %}</a>
            </div>

          </div>
          <div class="span6" style="">

            <!-- left = kickstarting -->
            <h2>{% trans "Kickstarting" %}</h2>
            <table class="table table-striped table-condensed"><tbody>
              {% for issue in issues_kickstarting %}
              <tr>
                <td class="hometablecell" style="width:30px">{{forloop.counter}}.</td>
                <td class="hometablecell"><a href="{{issue.get_view_link}}" >{{issue}}</a></td>
              </tr>
              {% endfor %}
            </tbody></table>
            <div class="">
              <a href="/core/issue?operation=KICKSTART">{% trans "More..." %}</a>
            </div>
          </div>
        </div>

{% endblock mainContent%}
