{% with showOffers=showOffers|default:"true" showWorking=showWorking|default:"true" showProject=showProject|default:"true" showKey=showKey|default:"true" showCreatedBy=showCreatedBy|default:"true" %}
{% load pagination_tags %}
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      {% ifequal showProject "true" %}
      <th>Project</th>
      {% endifequal %}

      {% ifequal showKey "true" %}
      <th>Key</th>
      {% endifequal %}

      {% ifequal showCreatedBy "true" %}
      <th>Created by</th>
      {% endifequal %}

      <th>Title</th>

      {% ifequal showOffers "true" %}
      <th>Offers (US$) <i class="icon-question-sign popopo" rel="popover" data-content="Green means paid. Orange means open." data-original-title="Colors meaning"></i></th>
      {% endifequal %}

      {% ifequal showWorking "true" %}
      <th>Workers <i class="icon-question-sign popopo" rel="popover" data-content="Green means DONE. Orange means IN PROGRESS." data-original-title="Colors meaning"></i></th>
      {% endifequal %}

      <th>Added</th>
    </tr>
  </thead>
  <tbody>
{% autopaginate issues %}
{% for issue in issues %}
    <tr>

      {% ifequal showProject "true" %}
      <td><a href="{{ issue.get_view_link }}">{{ issue.project.name }}</a></td>
      {% endifequal %}

      {% ifequal showKey "true" %}
      <td><a href="{{ issue.get_view_link }}">{{ issue.key }}</a></td>
      {% endifequal %}

      {% ifequal showCreatedBy "true" %}
      <td><a href="{{ issue.createdByUser.get_view_link }}">{{ issue.createdByUser.getUserInfo.screenName }}</a></td>
      {% endifequal %}

      <td>
        <a href="{{issue.get_view_link}}"
          {% if issue.getTotalPaidPrice %}
           style="color:#090;"
          {% endif %}
         >
          {% if issue.getTotalPaidPrice %}
           <strong>PAID: </strong>
          {% endif %}
         {{issue.title}}</a>
      </td>

      {% ifequal showOffers "true" %}
      <td style="width:140px">
        <div>
        {% include 'core/include/green_and_orange.html' with vOrange=issue.getTotalOffersPriceUSD vGreen=issue.getTotalPaidPriceUSD currency='US$' %}
        </div>
        <div>
        {% include 'core/include/green_and_orange.html' with vOrange=issue.getTotalOffersPriceBTC vGreen=issue.getTotalPaidPriceBTC currency='BTC' %}
        </div>
      </td>
      {% endifequal %}

      {% ifequal showWorking "true" %}
      <td>
        {% include 'core/include/green_and_orange.html' with vOrange=issue.countSolutionsInProgress vGreen=issue.countSolutionsDone %}
      </td>
      {% endifequal %}

      <td><span title="{{ issue.creationDate }}">{{ issue.creationDate|date:"D, d/M/Y" }}</span></td>
    </tr>
{% endfor %}
  </tbody>
</table>
<div class="pagination pagination-right">
{% paginate %}
</div>

{% endwith %}