{% extends "core/base.html" %}
{% block mainContent%}


{% if user.getOffers %}
  <h3>Sponsoring issues</h3>
  {% include 'core/offer_grid.html' with offers=user.getOffers %}
{% endif %}
{% if user.getSolutions %}
  <hr>
  <h3>Working on issues</h3>
  {% include 'core/solution_grid.html' with solutions=user.getSolutions %}
{% endif %}

{% if not user.getSolutions and not user.getOffers %}
<h3>You are not sponsoring nor working on any issues</h3>
<a href="/core/issue">Find some</a>
{% endif %}

{% endblock mainContent%}
