{% extends "core/base.html" %}

{% block og_meta_description %}
    <meta property="og:description"
          content="[ Offer ] US$ {{offer.price}} for issue - {{offer.issue.title}}"/>
{% endblock og_meta_description %}


{% block mainContent%}


<h3>[ Offer ] US$ {{offer.price_2}} for issue - {{offer.issue.title}} 
{% if issue.trackerURL %}
<a href="{{offer.issue.trackerURL}}" class="btn btn-primary" target="_issue">Open original issue</a>
{% endif %}
</h3>


{% if offer.is_expired %}
<br><br>
<div class="alert">
	<h4>This offer has epired on {{ offer.expirationDate|date:"D, M/d/Y" }}</h4>
</div>
{% endif %}

<hr>


{% include 'core/issue_offer_action_bar.html' %}

<a href="{{offer.issue.get_view_link}}">View issue</a>

 | Sponsor: <a href="{{offer.sponsor.get_view_link}}"><img src="{{offer.sponsor.gravatar_url_small}}">  {{offer.sponsor.getUserInfo.screenName}}</a>
{% if offer.issue.project %}
 | Project: <a target="_project" href="{{offer.issue.project.homeURL}}">{{offer.issue.project.name}}</a>
{% endif %}
 | Status: {% if offer.is_expired %}EXPIRED{% else %}{{offer.status}}{% endif %}
{% if offer.issue.description %}
<br><br>
<h3>Issue Description</h3>
<div class="alert alert-info">{{offer.issue.description|linebreaks}}</div>
{% endif %}
<br><br>
    {% if offer.get_payment %}
        <h3> Paid on {{ offer.get_payment.lastChangeDate|date:"D, d/M/Y" }}</h3>
        <table class="table">
            <tr>
                <th>Paid to</th>
                <th>$</th>
            </tr>
            {% for part in offer.get_payment.getParts %}
                <tr>
                    <td><a href="{{part.programmer.get_view_link}}"><img src="{{part.programmer.gravatar_url_medium}}"> {{ part.programmer.getUserInfo.screenName }}</a></td>
                    <td><span style="color:#030"><strong>{{ offer.get_payment.get_currency_symbol }} {{ part.price }}</strong></span></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

<h3>Offer acceptance criteria</h3>
<div class="alert alert-info">
    {% load markdown %}
    {% autoescape off %}
	{{offer.acceptanceCriteria|markdown}} <br>
    {% endautoescape %}
	{% if offer.expirationDate and not offer.is_expired %}
	<h6> <i class="icon-warning-sign"></i> Expires on {{ offer.expirationDate|date:"D, M/d/Y" }} </h6>
	{% endif %}

	{% if offer.no_forking %}
	<h6> <i class="icon-info-sign"></i> No Forking </h6>
	{% endif %}

	{% if offer.require_release %}
	<h6> <i class="icon-info-sign"></i> Release required </h6>
	{% endif %}
	<br>
</div>




<h3>Offer comments</h3>
{% for comment in offer.getComments %}
  <hr>
  {% include 'core/include_comment.html' with counter=forloop.counter formaction='/core/offer/comment/edit/submit' %}
{% endfor %}

<script>
    function loadCommentHistory(comment_id){
        $("body").addClass("loading");
        $.ajax({
            url: '/core/offer/comment/'+comment_id+'/history',
            dataType: 'HTML',
            async: true,
            success: function(data){
                document.getElementById('ajax_popup_modal').innerHTML = data
                $('#ajax_popup_modal').modal()
                $("body").removeClass("loading");
                return false;
            },
            error: function(a,b,c){
                alert(a+' '+b+' '+c);
            }
        });
    }
</script>


{% if user.is_authenticated %}

	<form method="post" class="well form-horizontal" action="/core/offer/comment/add/submit">
	{% csrf_token %}
	  <fieldset>

		<input type="hidden" id="offer_id" name="offer_id" value="{{offer.id}}">
	    
	    <div class="control-group" id="div_commentContent">
	      <label class="control-label" for="content">Your comment</label>
	      <div class="controls">
	        <textarea class="input-xlarge span10" style="font-family:monospace" id="content" name="content" rows="10" onkeyup="javascript:preview_add_comment()"></textarea>
    			<p class="help-block">
    				You can use <a target="_markdown" href="http://blog.freedomsponsors.org/markdown_formatting/">markdown</a> for formatting
    			</p>
          Preview
          <div class="well" id="preview_0">
          </div>
	      </div>
	    </div>
	    <div id="div_formActions" class="form-actions">
	      <button type="submit" id="btnSubmitNewComment" class="btn btn-primary">Add</button>
	   </div>
	  </fieldset>
	</form>

{% endif %}

<script>

  offer = {
  	id : {{offer.id}},
  	sponsor_id : {{offer.sponsor_id}},
  	price : {{offer.price}},
  	issue_trackerURL : '{{offer.issue.trackerURL}}'
  }

  function hideEditComment(counter){
    $('#div_comment_r_'+counter).slideDown();
    $('#div_comment_w_'+counter).slideUp();
  }
  function showEditComment(counter){
    $('#div_comment_r_'+counter).slideUp();
    $('#div_comment_w_'+counter).slideDown();
  }

  function invokeParentCallback(){
  	if(parent && parent.document && parent.document.frespo_sponsorissue_callback){
  		parent.document.frespo_sponsorissue_callback(offer);
  	}
  }

  function preview_add_comment(){
    preview_comment('#content', '#preview_0')
  }
  function preview_comment(taid, divid){
    var contents = $(taid).val()
    var converter = new Showdown.converter();
    var html = converter.makeHtml(contents);
    $(divid).html(html)
  }

  {% if invoke_parent_callback %}

  	$(function(){
  		invokeParentCallback();
  	})

  {% endif %}
</script>

{% endblock mainContent%}