{% extends "core/empty_base.html" %}
{% block body %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span1">
        </div><!--/span-->
        <div class="span10">

form method="post" class="form-horizontal" action="/core/issue/add/submit">
{% csrf_token %}
  <fieldset>
    <!-- tracker URL -->
    <input type="hidden" id="trackerURL" name="trackerURL" value="{{trackerURL}}">
    <div class="control-group">
    </div>

    <div id="div_step2_w" class="control-group hide">
      <div id="div_issue_fill_gaps" class="alert">
        It was not possible to determine all issue atributes from its URL. 
        Would you be so kind to fill the gaps?
      </div>
      <div id="div_key" class="control-group">
        <!-- issue key -->
        <label class="control-label" for="title">Issue Key</label>
        <div class="controls">
          <input type="text" id="key" name="key" value="{{key}}" placeholder="Paste issue key here">
        </div>
      </div>
      <div class="control-group">
        <!-- issue title -->
        <label class="control-label" for="title">Issue Title</label>
        <div class="controls">
          <input type="text" class="input-xlarge span8" id="title" name="title" value="{{title}}" placeholder="Paste issue title here">
        </div>
      </div>
      <div id="div_description" class="control-group">
        <!-- issue description -->
        <label class="control-label" for="description">Description</label>
        <div class="controls">
          <textarea class="input-xlarge span9" id="description" name="description" rows="10">{{description}}</textarea>
        </div>
      </div>
      <div class="span9">
        <button id="btnPrevious2" class="btn btn-primary pull-left">&lt;&lt; Previous</button>
        <button id="btnNext2" class="btn btn-primary pull-right">Next &gt;&gt;</button>
      </div>
    </div>

    <div id="div_step3_w" class="hide">
      <!-- issue project -->
      <div id="div_project">
        <div class="control-group">
          <div id="div_project_typeahed">
            <label class="control-label" for="project_name">Project</label>
            <div class="controls">
              {% include 'core/generic_typeahead.html' with placeholder="Search project by name" ajaxpath="/core/json/project?query=" name="project_" hval=project_id tval=project_name %}
            </div>
          </div>
          <div id="div_createProject">
            <label class="control-label" for="createProject">Or...</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" id="createProject" name="createProject" value="createProject">
                Create new project
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- new project data -->
      <div class="well control-group span10" style="display:none" id="div_newProject">

        <!-- new project name -->
        <div class="control-group">
          <label class="control-label" for="newProjectName">Project name</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="newProjectName" name="newProjectName" value="{{newProjectName}}">
          </div>
        </div>

        <!-- new project home site URL -->
        <div class="control-group">
          <label class="control-label" for="newProjectHomeURL">Project web site</label>
          <div class="controls">
            <input type="text" class="input-xlarge span8" id="newProjectHomeURL" name="newProjectHomeURL" value="{{newProjectHomeURL}}" placeholder="Paste web site URL here">
          </div>
        </div>

        <!-- new project issue tracker URL -->
        <div class="control-group">
          <label class="control-label" for="newProjectTrackerURL">Project issue tracker URL</label>
          <div class="controls">
            <input type="text" class="input-xlarge span8" id="newProjectTrackerURL" name="newProjectTrackerURL" value="{{newProjectTrackerURL}}" placeholder="Paste issue tracker URL here">
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="span9">
          <button id="btnPrevious3" class="btn btn-primary pull-left">&lt;&lt; Previous</button>
          <button id="btnNext3" class="btn btn-primary pull-right">Next &gt;&gt;</button>
        </div>
      </div>
    </div>

    <div id="div_step4_w" class="hide">

      {% include 'core/offer_form_fields.html' %}

      <div class="control-group">
        <div class="span9">
          <button id="btnPrevious4" class="btn btn-primary pull-left">&lt;&lt; Previous</button>
          <button id="btnSubmitOffer" class="btn btn-primary pull-right">Make offer!</button>
        </div>
      </div>
    </div>
  </fieldset>
</form>
        </div><!--/span-->

        <div class="span1">
        </div>
      </div><!--/row-->

      <hr>

    </div><!--/.fluid-container-->

{% endblock body %}