{% extends "core/base.html" %}

{% block mainContent%}

  <div>
    <h2> FreedomSponsors is <span style="color:#08C">{{stats.age}}</span> old</h2>
  </div>
  <br><br>
  <div>
    <h2> <span style="color:#08C">{{stats.user_count}}</span> users have registered so far</h2>
    of which <span style="color:#08C">{{stats.sponsor_count}}</span> have sponsored, <span style="color:#08C">{{stats.programmer_count}}</span> have worked on issues, and <span style="color:#08C">{{stats.paid_programmer_count}}</span> have received payments.
  </div>
  <br><br>
  <div>
    <h2> There are <span style="color:#08C">{{stats.offer_count}}</span> offers spread across <span style="color:#08C">{{stats.issue_count}}</span> issues and <span style="color:#08C">{{stats.issue_project_count}}</span> projects</h2>
    <span style="color:#08C">{{stats.open_offer_count}}</span> of those offers are open, <span style="color:#08C">{{stats.revoked_offer_count}}</span> are revoked and <span style="color:#08C">{{stats.paid_offer_count}}</span> are paid.<br>
    <span style="color:#08C">{{stats.issue_count_sponsoring}}</span> of those issues are being sponsored, and <span style="color:#08C">{{stats.issue_count_kickstarting}}</span> are still in <a href="http://blog.freedomsponsors.org/kickstarting-issues/">"kickstarting mode"</a>.
  </div>
  <br><br>
  <div>
    <h2> Open offers amount to <span style="color:#08C">US$ {{stats.open_sum}}</span></h2>
    And paid offers..... <span style="color:#08C">US$ {{stats.paid_sum}}</span><br>
    Revoked offers..... <span style="color:#08C">US$ {{stats.revoked_sum}}</span><br>
    Expired offers....... <span style="color:#08C">US$ {{stats.expired_sum}}</span>
  </div>
  <br><br>

  <div>
    <h2> Here's how the offers are distributed among projects </h2>
    <table>
      <tr>
        <th style="text-align:left">Project</th>
        <th>Sponsored issues</th>
        <th>Total offers</th>
      </tr>
      {% for project in stats.projects %}
      <tr>
        <td><a href="/core/issue/?s=&project_id={{project.pk}}">{{project.name}}</td>
        <td style="text-align:right">{{project.issue_count}}</td>
        <td style="text-align:right">{{project.offer_sum}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <br><br>

  <div>
    <h2> And here's a list of our top sponsors </h2>
    <table>
      <tr>
        <th style="text-align:left">Sponsor</th>
        <th>Open offers
        <i class="icon-question-sign popopo" rel="popover" data-content="Green means paid. Orange means open." data-original-title="Colors meaning"></i>
      </th>
      </tr>
      {% for sponsor in stats.sponsors %}
      <tr>
        <td><a href="/core/user/{{sponsor.user.pk}}/{{sponsor.pk}}">{{sponsor.screenName}}</td>
        <td style="text-align:right">
          {% include 'core/green_and_orange.html' with vOpen=sponsor.open_amount vPaid=sponsor.paid_amount %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <br><br>
  <div>
    Want to see more stats? Drop us some <a href="/core/feedback">feedback</a>.
  </div>

{% endblock mainContent%}

def get_stats():
    return {
        'age' : _age(),
        'user_count' : UserInfo.objects.count(),
        'sponsor_count' : _count(COUNT_SPONSORS),
        'programmer_count' : _count(COUNT_PROGRAMMERS),
        'offer_count' : _count(COUNT_OFFERS),
        'issue_count' : _count(COUNT_ISSUES),
        'paid_offer_count' : _count(COUNT_OFFERS_PAID),
        'open_offer_count' : _count(COUNT_OFFERS_OPEN),
        'revoked_offer_count' : _count(COUNT_OFFERS_REVOKED),
        'paid_sum' : _sum(SUM_PAID),
        'open_sum' : _sum(SUM_OPEN),
        'expired_sum' : _sum(SUM_EXPIRED),
        'revoked_sum' : _sum(SUM_REVOKED),
        'sponsors' : _select(SELECT_SPONSORS),
    }