<div class="card-list-section">
    <div class="card-list-header">
        <div class="fs-title">Sponsored Issues</div>
        <a href="" class="fs-button square grey less" ng-class="{'disabled' : no_less()}" ng-click="less()">«</a>
        <a href="" class="fs-button square grey more" ng-class="{'disabled' : no_more()}" ng-click="more()">»</a>
        <img ng-show="is_loading" src="/static/img2/ajax-loader.gif">
        <a href="/core/issue?operation=SPONSOR" class="fs-button medium grey view-all">View All</a>
    </div>
    <div class="card-list">
        <div ng-repeat="issue in issues" class="fs-box issue-card" ng-class="{'middle':$index == 1}">
            <a href="/core/issue/{[{ issue.id }]}" class="card-title">{[{ issue.title }]}</a>
            <div class="divider small"></div>
            <span class="card-paid-value" ng-show="issue.totalPaidPriceUSD > 0">
                <span>US$</span> <span class="paid-value">{[{ issue.totalPaidPriceUSD }]}</span><span> Paid</span>
            </span>
            <span class="card-offered-value">
                <span>US$</span> <span class="offered-value">{{ issue.totalOffersPriceUSD }}</span><span> Offered</span>
            </span>
            <div style="clear:both;"></div>
            <div class="card-sponsors">
                <div class="pictures">
                    <div ng-repeat="sponsor in issue.four_sponsors" class="sponsor-picture">
                        <img ng-src="{[{ sponsor.image_link }]}" alt="{[{ sponsor.screen_name }]}" title="{[{ sponsor.screen_name }]}">
                    </div>
                </div>

                <a ng-show="issue.moresponsors > 0" href="/core/issue/{[{ issue.id }]}" class="sponsors-label">
                    and {[{ issue.moresponsors }]} more sponsors
                </a>
            </div>
            <p class="description">{[{ issue.description }]}</p>
            <div class="card-bottom-logo">
                <a href="{[{ issue.project_link }]}">
                    <img class="project-logo" ng-src="{[{ issue.image_link }]}"/>
                </a>
            </div>
            <div class="card-status done"></div>
            <div class="card-footer">
                <span class="views">
                    <span class="views-number">{[{ issue.viewcount }]}</span><span> views</span>
                </span>
                <span class="comments">
                    <span class="comments-number">{[{ issue.commentcount }]}</span><span> comments</span>
                </span>
            </div>
        </div>
    </div>
</div>
