# coding: utf-8
# Environment-specific settings

DEBUG = True
ENVIRONMENT = 'NOT_DEV' #change to DEV in your machine


AUTO_EMAIL_USERNAME = 'noreply@freedomsponsors.com'
AUTO_EMAIL_PASSWORD = 'ThisIsNotTheRealPassword_obviously'

SITE_HOST = 'localhost:8000' # www.freedomsponsors.org
SITE_NAME = 'FreedomSponsors_test' # FreedomSponsors
PAYPAL_USE_SANDBOX = True
