# coding: utf-8
# Environment-specific settings

DEBUG = True
ENVIRONMENT = 'NOT_DEV' #change to DEV in your machine


GITHUB_BOT_USERNAME = 'freedomsponsors-bot'
GITHUB_BOT_PASSWORD = '*********'

AUTO_EMAIL_USERNAME = 'noreply@freedomsponsors.com'
AUTO_EMAIL_PASSWORD = 'ThisIsNotTheRealPassword_obviously'

SITE_HOST = 'localhost:8000' # www.freedomsponsors.org
SITE_NAME = 'FreedomSponsors_test' # FreedomSponsors
PAYPAL_USE_SANDBOX = True

TWITTER_CONSUMER_KEY         = 'XYXYXYXYXYXYXYXY'
TWITTER_CONSUMER_SECRET      = 'ZWZWZWZWZWWZWZWZWZWZWZWZWWZZWZWZWZWZWZW'
FACEBOOK_APP_ID              = 'XYXYXYXYXYXYXYXY'
FACEBOOK_API_SECRET          = 'ZWZWZWZWZWWZWZWZWZWZWZWZWWZZWZWZWZWZWZW'
GITHUB_APP_ID                = 'XYXYXYXYXYXYXYXY'
GITHUB_API_SECRET            = 'ZWZWZWZWZWWZWZWZWZWZWZWZWWZZWZWZWZWZWZW'
BITBUCKET_CONSUMER_KEY       = 'XYXYXYXYXYXYXYXY'
BITBUCKET_CONSUMER_SECRET    = 'ZWZWZWZWZWWZWZWZWZWZWZWZWWZZWZWZWZWZWZW'
