# Environment-specific settings

TEST_GMAIL_ACCOUNT_1 = {
    'username' : 'eunemqueriaessacontamesmo',
    'password' : 'blimblom',
}
TEST_GMAIL_ACCOUNT_2 = {
    'username' : 'minhaoutracontafake',
    'password' : 'blimblom',
}
ADMINS = (
    ('YourNameHere', 'you@yourdomain.com'),
)
DEBUG = True
FAKE_EMAILS= True

DATABASE_NAME = 'frespo'
DATABASE_USER = 'postgres'
DATABASE_PASS = ''

AUTO_EMAIL_USERNAME = 'noreply@freedomsponsors.com'
AUTO_EMAIL_PASSWORD = 'ThisIsNotTheRealPassword_obviously'

SITE_HOST = 'localhost:8000' # www.freedomsponsors.org
SITE_NAME = 'FreedomSponsors_test' # FreedomSponsors
PAYPAL_USE_SANDBOX = True

PAYPAL_SANDBOX_API_USERNAME = "XX_9999999999_biz_api1.gmail.com"
PAYPAL_SANDBOX_API_PASSWORD = '9999999999'
PAYPAL_SANDBOX_API_SIGNATURE = 'WxV21WxV21WxV21WxV21WxV21WxV21WxV21WxV21WxV21WxV21WxV21'
PAYPAL_SANDBOX_API_APPLICATION_ID = 'APP-80W284485P519543T' #see www.x.com
PAYPAL_SANDBOX_API_EMAIL = 'XX_9999999999_biz@gmail.com'
PAYPAL_SANDBOX_FRESPO_RECEIVER_EMAIL = 'XX_9999999999_biz@gmail.com'

PAYPAL_PRODUCTION_API_USERNAME = "YY_9999999999_biz_api1.gmail.com"
PAYPAL_PRODUCTION_API_PASSWORD = 'WxVWxVWxVWxVWxV'
PAYPAL_PRODUCTION_API_SIGNATURE = 'WxV21WxV21WxV21WxV21WxV21WxV21WxV21WxV21WxV21WxV21WxV21'
PAYPAL_PRODUCTION_API_APPLICATION_ID = 'APP-V21V21V21V21V21V21' 
PAYPAL_PRODUCTION_API_EMAIL = 'YY_9999999999_biz@gmail.com'
PAYPAL_PRODUCTION_FRESPO_RECEIVER_EMAIL = 'YY_9999999999_biz@gmail.com'

TIME_ZONE = 'America/Sao_Paulo'

TWITTER_CONSUMER_KEY         = 'XYXYXYXYXYXYXYXY'
TWITTER_CONSUMER_SECRET      = 'ZWZWZWZWZWWZWZWZWZWZWZWZWWZZWZWZWZWZWZW'
FACEBOOK_APP_ID              = 'XYXYXYXYXYXYXYXY'
FACEBOOK_API_SECRET          = 'ZWZWZWZWZWWZWZWZWZWZWZWZWWZZWZWZWZWZWZW'
GITHUB_APP_ID                = 'XYXYXYXYXYXYXYXY'
GITHUB_API_SECRET            = 'ZWZWZWZWZWWZWZWZWZWZWZWZWWZZWZWZWZWZWZW'
BITBUCKET_CONSUMER_KEY       = 'XYXYXYXYXYXYXYXY'
BITBUCKET_CONSUMER_SECRET    = 'ZWZWZWZWZWWZWZWZWZWZWZWZWWZZWZWZWZWZWZW'

FRESPO_LOG_FILE = 'logs/frespo.log'
