{% extends "core/base.html" %}
{% block mainContent%}

    <div class="container-fluid">
      <div class="row-fluid">

            <div style="margin-left: auto; margin-right: auto; width: 853px;">
              <h2>{% trans "Crowdfunding Opensource, one issue at a time..." %}</h2>
              <hr>
            </div>
            <div id="myCarousel" class="carousel slide" style="margin-left: auto; margin-right: auto; width: 853px;">
              <div class="carousel-inner">
                <div class="item active">
                  <img src="/static/img/apres/01.png" alt="">
                </div>
                <div class="item">
                  <img src="/static/img/apres/02.png" alt="">
                </div>
                <div class="item">
                  <img src="/static/img/apres/03.png" alt="">
                  <div class="carousel-caption">
                    <h4>{% trans "Some even have a voting system" %}</h4>
                    <p>{% trans "And developers use the results to prioritize their work." %}</p>
                  </div>
                </div>
                <div class="item">
                  <img src="/static/img/apres/04.png" alt="">
                  <div class="carousel-caption">
                    <h4>{% trans "But what if..." %}</h4>
                    <p>{% trans "If you need an issue so bad that you'd be willing to PAY a few bucks for it, here's what you can do:" %}</p>
                  </div>
                </div>
                <div class="item">
                  <img src="/static/img/apres/05.png" alt="">
                  <div class="carousel-caption">
                    <h4>{% trans "1) Create an offer here at FreedomSponsors" %}</h4>
                    <p>{% trans "The new offer points to the original issue in the project's issue tracker" %}</p>
                  </div>
                </div>
                <div class="item">
                  <img src="/static/img/apres/06.png" alt="">
                  <div class="carousel-caption">
                    <h4>{% trans "2) Other people might also be interested on it" %}</h4>
                    <p>{% trans "So they throw in a few bucks too.
                    You folks now became that issue's sponsors.
                    But relax, nobody's paying anything yet!" %}</p>
                  </div>
                </div>
                <div class="item">
                  <img src="/static/img/apres/07.png" alt="">
                  <div class="carousel-caption">
                    <h4>{% trans "3) Oh yeah, you gotta tell the developers about it, of course!" %}</h4>
                    <p></p>
                  </div>
                </div>
                <div class="item">
                  <img src="/static/img/apres/08.png" alt="">
                  <div class="carousel-caption">
                    <h4>{% trans "4) Over time, that issue acumulates "potential money"" %}</h4>
                    <p>{% trans "Which is way more interesting than just votes, right?" %}</p>
                  </div>
                </div>
                <div class="item">
                  <img src="/static/img/apres/09.png" alt="">
                  <div class="carousel-caption">
                    <h4>{% trans "4) Some developer then resolves the issue" %}</h4>
                    <p>{% trans "And tells everyone about it here at FreedomSponsors." %}</p>
                  </div>
                </div>
                <div class="item">
                  <img src="/static/img/apres/10.png" alt="">
                  <div class="carousel-caption">
                    <h4>{% trans "5) As a sponsor, you go and and see if it really solves your problem." %}</h4>
                    <p>If it does, you pay the developer. If it doesn't, you don't (just don't try to be a smartass - it won't be good for your reputation).<br>
                    At that point, everyone is gonna need Paypal accounts! And that's it.<br>
                    P.S.: FreedomSponsors gets a tiny cut out of the developer's pay - 3% (not 20, not 10, not 5. Just 3. We're not greedy, nor evil - but we do gotta keep business running :-))</p>
                  </div>
                </div>
                <div class="item">
                  <img src="/static/img/apres/11.png" alt="">
                  <div class="carousel-caption">
                    <h4>We know that idea sounds a little crazy...</h4>
                    <p>You're probably thinking "what if this" and "what if that"... 
                    <br>Maybe the <a href="/static/faq.html" target="_faq">FAQ</a> has some answers for the questions you might be asking yourself. Care to check it out?</p>
                  </div>
                </div>
                <div class="item">
                  <img src="/static/img/apres/we_believe.png" alt="">
                  <div class="carousel-caption">
                    <p>We believe that the developers working on those projects deserve to make some money out of it.<br>
                    We believe that people should be able to influence the direction of those projects according to their needs.<br>
                    We believe that things could move faster in the open source world.</p>
                    <h4>And yeah, we believe we can make that happen.</h4>
                  </div>
                </div>
                <div class="item">
                  <img src="/static/img/apres/13.png" alt="">
                  <div class="carousel-caption">
                    <h4>So, if you love open source too, and you believe in that vision</h4>
                    <p>1) Sign up (it's really easy, all you need is a <a href="http://gmail.google.com">GMail</a> account)<br>
                    2) Spread the word - everyone needs to know about us for that to happen.</p>
                  </div>
                </div>
                <div class="item">
                  <img src="/static/img/apres/14.png" alt="">
                  <div class="carousel-caption">
                    <h4>Oh, and last but not least</h4>
                    <p>Our system is still at beta stage. Find any bugs, got any suggestions or comments?<br> 
                    Don't hesitate to send us your <a href="/core/feedback">feedback</a> (really, we love feedback).</p>
                  </div>
                </div>
                <div class="item">
                  <img src="/static/img/apres/15.png" alt="">
                  <div class="carousel-caption">
                    <h4>I did mention spreading the word, right?</h4>
                    <p>I mean Twitter, Facebook, Google+... 
                    You gotta tell everyone, go go go! :-)<br>
                    Well, that's about it. Thanks for your time, and happy sponsoring!<br>
                    Oh, don't forget to <a href="http://www.facebook.com/freedomsponsors" target="_facebook">like</a> our Facebook page and <a href="http://www.twitter.com/freedomsponsors" target="_twitter">follow</a> us on Twitter!
                  </p>
                  </div>
                </div>

               </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>

      </div><!--/row-->
<script>
  $(function(){
    $('.carousel').carousel({
      interval: 5000
    })
    // $('.carousel').carousel('pause')
  })
</script>
{% endblock mainContent%}
