{% extends "core2/empty_base.html" %}
{% load i18n %}
{% block head %}
{% endblock %}
{% block body %}
    <!-- Wrapper for sticky footer -->
    <div class="non-footer-wrapper">
        {% include "core2/include/navbar.html" %}
        <div id="bootstrap-content" class="content" align="center">
			<div class="content-section" align="left">
				<div class="row-fluid">
					{% block mainContent%}
					{% endblock mainContent%}
				</div>
			</div>
        </div>
    </div>
    {% include "core2/include/footer.html" %}
{% endblock body %}
