{% extends "core2/empty_base.html" %}
{% load i18n %}
{% block head %}
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
{% endblock %}

{% block body %}
    {% include "core2/include/navbar.html" %}
    <div id="base-main" class="row-fluid">
        <div class="span1">
        </div><!--/span-->
        <div class="span10">
            <!-- general purpose modal for displaying Ajax-loaded content -->
            <div id="main-content">
                {% block mainContent%}
                {% endblock mainContent%}
            </div>
        </div><!--/span-->
        <div class="span1">
        </div>
    </div>
{% endblock body %}
