{% extends "core2/base_old.html" %}
{% block mainContent%}
    <style type="text/css">
    .contributor {
        line-height: 33px;
    }
    </style>

<!-- I need to check all the links at the top work! -->
<!-- I changed 'FreedomSponsors' to 'Freedom Sponsors' throughout because the lack of space is unnecessarily weird. If you're rebranding, I do not like 'Freedom Sponsors,' it is not fun or memorable. I offer a suggestion: 'timeforthat.org' (or a variation.) Its USA slang as in "ain't nobody got time fo' dat." The purpose of this site is to pay people's time to work on libre projects --> 
<!-- convert all " into curly quotes -->

        <div class="span1"></div>
        <div class="span8">
          <h1>FAQ</h1>

          <hr>
          <ul>
              <li><a href="#What is this website for?">What is this website for?</a></li>
              <li><a href="#What makes it unique?">What makes it unique?</a></li>
              <li><a href="#Do you really think that your idea will work?">Do you really think that idea could work?</a></li>
              <li><a href="#How do I change my profile picture?">How do I change my profile picture?</a></li>
              <li><a href="#How can I tell if a sponsor is serious about his offer?">How can I tell if a sponsor is serious about his offer?</a></li>
              <li><a href="#So you have a reputation system?">So you have a reputation system?</a></li>
              <li><a href="#How do I add credit to Freedom Sponsors?">How do I add credit to Freedom Sponsors?</a></li>
              <li><a href="#What about privacy?">What about privacy?</a></li>
              <li><a href="#How do payments work?">How does payment work?</a></li>
              <li><a href="#I don't have a Paypal account or a Bitcoin wallet, is that ok?">I don't have a Paypal account or a Bitcoin wallet, is that ok?</a></li>
              <li><a href="#Two developers are claiming to have resolved my issue. What should I do?">Two developers are claiming to have resolved my issue. How should I pay?</a></li>
              <li><a href="#An independent developer fixed my issue. How do I include it in the next release of a project?">An independent developer fixed my issue. How do I include it in the next release of a project?</a></li>
              <li><a href="#I resolved an issue, but the sponsor just didn't pay me. What can I do?">I resolved an issue, but the sponsor just didn't pay me. What can I do?</a></li>
              <li><a href="#How do I get paid before I complete the issue?">How do I get paid before I complete the issue?</a></li>
              <li><a href="#I paid for an unfinished issue, and the developer won't deliver. What can I do?">I paid for an unfinished issue, and the developer won't deliver. What can I do?</a></li>
              <li><a href="#Does Freedom Sponsors have any kind of integration API?">Does Freedom Sponsors have any kind of integration API?</a></li>
              <li><a href="#Who is behind Freedom Sponsors?">Who is behind Freedom Sponsors?</a></li>
              <li><a href="#Tell me more about Freedom Sponsors!">Tell me more about Freedom Sponsors!</a></li>
              <li><a href="#What can I do to help?">This is great, what can I do to help?</a></li>
              <li><a href="#I have more questions!">I have more questions!</a></li>
          </ul>
          <hr>
          <a name="What is this website for?"></a>
          <h3>What is this website for?</h3>
          <p>
            Fix issues that you care about with money.<br>
            That's the short answer. <!-- TODO make this a jQuery link to expand the text below --> Here's the long answer.<br>
            There is something strange about free culture. There are are a lot of <!-- link to definition --> free cultural works: software, encyclopedias, music, books, fonts, films. But if you ask around, most people can not explain how they could be paid to make something that is freely available and anyone can change. Many students use free culture for their education, but they don't know how to make things like this as their full-time job, when they graduate.<br>
           How do you get paid to make something that is freely available? Here's the secret: Free software is about freedom, not price.<br>
           Okay, that's a bit vague, so lets review some simple ideas that all teenagers know. It is a firm principle of the law that you are free to represent yourself in court, unless you're a teenager and then your parents get that phonecall at 3am. No one asks, "But how do lawyers get paid?" Or doctors. Or accountants. <em>Professionals</em> have valuable expertise and they are <em>paid for their time and service.</em> Your business model is to start with nothing, educate yourself to do useful or interesting things for other people, and get better at that as fast as you can, raising your hourly rate and saving money to <a href="http://www.earlyretirementextreme.com">retire early.</a> <!-- TODO, add a cartoon linear graph --> <br>
           This is different to <em>aristocrats</em>. They "owns" things and <em>charge rents</em> on them, or own a factory and <em>sell copies</em> of products. That business model is to start with a load of money, build a factory, pay workers to make copies, and then sell the copies by the million to end up with a lot more money than they started with. Its risky. If its going well, your workers might invent a better factory process and quit to compete with you, so you don't want them to be educated very well. But it might not go well, and you'll have a million copies of some junk that nobody wants any more, so you don't want progress to go very fast.<br>
          Computers copy and modify information. They are factories of information to make copies &mdash; without cost. If you're an aristocrat, it is an amazing invention. You start with a load of money, pay workers to make Version 1.0, and sell copies that cost you nothing to make. That's how you get to be "Bill" Gates, selling nothing for something. But did you know that when he was born, he was already considerably richer than you. His full name is "William Henry Gates, The Third" and he is an aristrocrat. He <!-- TODO link to 'letter to hobbyists' -->personally invented owning software.<br>
        The flaw in this plan is that software is not like hardware, in two important ways. <br>
        First, copies are without cost, so everyone can make their own copies, for free. That means aristocrats must punish people for sharing copies of the things they own. If you live in a country where <!-- link to wolverine guy in jail --> this doesn't happen, there is still an ethical issue. Remember when your friend asked you not to share something? It would be rude to post it on the web anyway. You might not be friends with Bill Gates, but it is just as uncool to share things you are asked not to share.<br>
        Second, all software has issues, so Version 1.0 needs to be updated to Version 1.1 and later it will need to be completely rewritten as Version 2.0. This means the copies need to be modified, but if Version 1.0 is still selling, why bother? If 1 million people bought copies and you and 10,000 other people care about an issue, you are just 1% and can be ignored. We have all lived in such dark places.<br>
       Freedom is the way out. Copies can be shared freely with friends, and anyone is free to modify them &mdash; if you know how. If you don't, you are free to learn everything (everything!) about how it work. So even if you are <!-- link to homeless hacker -->starting with nothing, you can educate yourself to do useful and interesting things for other people. The hourly rate can be pretty good.<br>
      That's the secret: Professionals get paid for our time. Instead of users paying rents for proprietary (and therefore boring) things, in our lively free culture we pay for time it takes to improve free, dynamic, exciting things.<br>
      We read and write what we like. We pay our time. And in time, we will have everything.<br>
      (Technically, Freedom Sponsors is a <!-- link to WP bounies page --> crowd-funding platform for giving and taking <!-- link to WP bounies page --> bounties on programming tasks for <!-- link to WP bounies page --> Free, Libre, Open Source Software. Join us.)
          </p>

          <hr>
          <a name="What makes it unique?"></a>
          <h3>What makes it unique?</h3>

          <p>
            We run this project as close to the ideals of freedom and openness as possible. For example, the project founder Tony lives in <!-- TODO: $city --> Brasil, so if you ever come visit, he'll buy you a <!-- TODO: Link to this drink's wikipedia page for silly non-Brasilians like me who don't know what it is --> caipirinha!
          </p>
          <p>
              Our strong philosophy means we put users first in everything we do. Here's a few examples:
              <ul>
                  <li>
                      We want to build a community based on trust and reputation.<br>
                      Sponsors only have to pay their bounty <strong>after</strong> the developer resolves the issue (but you can choose to pay before, if you wish.)
                  </li>
                  <li>
                      We want to build free, libre, open source software.<br>
                      Our users' software freedom is important to us, so <a href="github.com/Freedom Sponsors/www.Freedom Sponsors.org">our software</a> is free, libre, open source on the front-end <strong>and the back end.</strong> We don't use third-party javascript code, which can allow our users' online activities to be spied on. This includes Google Analytics, Facebook Like buttons, and things like that. We do follow the <a href="https://www.gnu.org/philosophy/javascript-trap.html">FSF guidelines for free, libre javascript code.</a>
                  </li>
                  <li>
                      We want to be the change we wish to see in the world.<br>
                      We're "open everything", so everything we do is out in the open: Check out our <a href="http://Freedom Sponsors.org/core/stats/">website statistics</a>, browse our <a href="http://blog.Freedom Sponsors.org/">blog</a>, and see the way we handle all <a href="http://Freedom Sponsors.org/core/feedback">feedback</a> - good and bad - with no stress. Its an idea shared with our friends at <a href="http://blog.gittip.com/post/26350459746/the-first-open-company">Gittip, who are an "open company."</a> 
                  </li>
              </ul>

          </p>

          <hr>
          <a name="Do you really think that it will work?"></a>
          <h3>Do you really think that it will work? </h3>
          <p>
            <!-- TODO: Yes. It is working and we have already paid developers $TOTAL_SENT to work on $TOTAL_ISSUES for $TOTAL_PROJECTS. (Until then, --> Yes. Honestly, we do. We believe that there are enough decent, honest people in the world for this to work.<br>
            A wise guy once said, stay foolish.<br>
            Have you heard of <a href="http://agilemanifesto.org/" target="_agile">the Agile Manifesto</a>? Freedom Sponsors is all about taking the third Agile principle to its ultimate consequence: <strong>"Customer collaboration over contract negotiation."</strong><br>
            We give regular people, who use libre software but can't write code, the ability to push forwards the projects they love. No contracts, just trust that developers also love these projects too, and feel happy when they can be paid to put more work in to them.
          </p>
          <hr>
          <a name="How do I change my profile picture?"></a>
          <h3>How do I change my profile picture?</h3>
          <p>
            <a href="http://gravatar.com">Gravatar</a> is a nice and simple online service, with no problems for software freedom. It will let you upload avatar pictures and associate them with an email address.  For example, the email tony@Freedom Sponsors.org is linked to <a href="http://www.gravatar.com/avatar/b2f9b553e184602579b920053952ce4c.png?s=160">this image</a>. So create your Gravatar account and associate an avatar to the email you use here. Simple.
          </p>

          <a name="How can I tell if a sponsor is serious about his offer?"></a>
          <h3>How can I tell if a sponsor is serious about his offer?</h3>
          <p>
            Like eBay, you should check out their profile and take a look at their history. If there are a lot of unpaid offers on resolved issues, that's a bad sign.
          </p>
          <hr>

          <a name="So you have a reputation system?"></a>
          <h3>So you have a reputation system?</h3>
          <p>
            Yes, but later. (That's the way clever people say no.) We just display the user history attached to a profile.<br>
            But we intend to have something more sophisticated in the future.
          </p>
          <hr>

          <a name="How do I add credit to Freedom Sponsors?"></a>
          <h3>How do I add credit to Freedom Sponsors?</h3>
          <p>
            Actually you just pay each developer directly.<br>
          </p>
          <hr>

          <a name="What about privacy?"></a>
          <h3>What about privacy?</h3>
          <p>
            Our purpose is to do business in public. We don't show your email address, but everything that you do here (making an offer, saying you'll work on an issue, all your comments) is public for the world to see.
          </p>
          <hr>

          <a name="How do payments work?"></a>
          <h3>How do payments work?</h3>
          <p>
              Payments can be made either in USD via Paypal, or in <a href="http://bitcoin.org/">Bitcoins</a>. Before you can send payments, you’re going to need a Paypal account or a Bitcoin wallet. Before you can receive payments, set up both so you can accept all offers. We check that each Paypal account is valid before allowing anyone to make a payment to it.
          </p>
          <p>
              Freedom Sponsors charges a 3% fee on top of offers, regardless of the payment method. We clearly state this on each payment page. To keep things simple, we use Paypal’s <strong>Parallel</strong> payment type, so a single payment is sent to two or more receivers.<br><br>
          </p>
          <p>
              For example, when you want to pay a US$10 bounty, you may decide to give US$5 each to 2 developers. On Paypal’s website, you will see:<br>

              <ul>
                <li>Developer A: USD $5</li>
                <li>Developer B: USD $5</li>
                <li>Freedom Sponsors' 3% fee: USD $0.30</li>
                <li>PayPal's 10% Fee: USD $1.03</li>
                <li>TOTAL: USD $11.33</li>
              </ul>

              Bitcoin has no “parallel payment.” Instead, you send us, we verify the transaction, keep 3%, and transfer the rest to the developer(s) being paid.<br><br>
              Since our system is libre, you can <!-- TODO link to it --> review the code that processes transactions for both Paypal and Bitcoin. 
          </p>
          <hr>

          <a name="I don't have a Paypal account or a Bitcoin wallet, is that ok?"></a>
          <h3>I don't have a Paypal account or a Bitcoin wallet, is that ok?</h3>
            <p>
                It is okay for commenting. To send or receive payments, you’ll need to set up one of these options on <a href="/core/user/edit">your profile page</a>.
            </p>
          <hr>

          <a name="Two developers are claiming to have resolved my issue. What should I do?"></a>
          <h3>Two developers are claiming to have resolved my issue. What should I do? </h3>
          <p>
            <ol>
                <li>Verify that the issue is really solved. We encourage you to pay only after your problem really is fixed.</li>
                <li>Decide which developer to pay, or better yet, decide to pay both of them.</li>
                <li>(Decide how much to pay each of them.)</li>
                <li>Pay them and then tweet about how you feel.</li>
            </ol>
          </p>
          <p>To make a fair choice, do a little digging and check out the original issue to see how it went down. Maybe one person submitted a <!-- TODO link to github help page --> pull request for a bugfix, and another person had to rework it and then merged it. They both deserve some thanks, and your money. You decide how much you pay to whom. The choice is yours.
          </p>
          <hr>

          <a name="An independent developer fixed my issue. How do I include it in the next release of a project?"></a>
          <h3>An independent developer fixed my issue. How do I include it in the next release of a project?</h3>
          <p>
             We make the <!-- TODO rename this checkbox so you don't need to be a git developer to understand it --> <a href="/core/issue/add">"No Forking"</a> checkbox part of the default acceptance criteria. This means that getting solutions included in the main project is needed for them to be accepted, and it is by default because we want to encourage sponsors to actually fund the original projects.
          </p>
          <hr>

          <a name="I resolved an issue, but the sponsor just didn't pay me. What can I do?"></a>
          <h3>I resolved an issue, but the sponsor just didn't pay me. What can I do?</h3>
          <p>
            Try to resolve conflict with compassion. An excellent book that explains how to do this is <a href="http://www.cnvc.org">Marshall Rosenberg's "Non-Violent Communication: A Language of Life"</a>. Simply, tell them how you feel without judging them or evaluating the situation, then request a description of what their ideal situation is, and ask for suggestion about how to get there.<br>
            If you feel upset, and judge the sponsor as not trustworthy, remember that the issue - and its comment history - will be publicly linked to the sponsor's account. If you feel unhappy, we suggest you go to sleep before posting anything you might later regret. <!-- TODO In the worst case, you can mark an issue as 'CONFLICTED.' Next to every username is the PAID/CONFLICTED score, which shows the total number of issues the user is involved in that are now PAID or CONFLICTED. EG, "davelab6 57/1" in green/red. --> <br>
            (Sadly this can, very occasionally, happen. Normally we have an atmosphere of gratitude and collaboration among sponsors and developers.)
          </p>
          <hr>

          <a name="Can I get paid before I complete the issue?"></a>
          <h3>
              Can I get paid before I complete the issue?
          </h3>
          <p>
              Yes. When you start working on an issue, simply check the “start accepting payments” box, and kindly ask your patrons to pay you.<br>
              We recommend only doing this when you're confident that you will be able to complete the issue on time and on budget. If you think the total payment should be higher, track down some other users who suffer from this issue and ask them to checkout Freedom Sponsors xxx
          </p>
          <hr>

          <a name="Can I send a payment before the issue is completed?"></a>
          <h3>
              Can I send a payment before the issue is completed?
          </h3>
          <p>
              Maybe. Normally you have to wait until the developer has marked the issue as “DONE.” You can do this when the issue is <!-- TODO remove the _ from this throughout the site --> “IN_PROGRESS” <strong>and</strong> the developer has indicated that they wish to start accepting payments. <strong>But</strong> we strongly encourage you to only pay for finished issues. 
          </p>
          <hr>
              

          <a name="I paid for an unfinished issue, and the developer won't deliver. What can I do?"></a>
          <h3>I paid for an unfinished issue, and the developer won't deliver. What can I do?</h3>
          <p>
              Ask for a refund <strong>&mdash; from the developer.</strong> We can not refund you because payments are made directly to developers. We hope you've been polite, so far.<br>
              (This is why we encourage to only pay for finished issues. )
          </p>
          <hr>

          <a name="Does Freedom Sponsors have any kind of integration API?"></a>
          <h3>Does Freedom Sponsors have any kind of integration API?</h3>
          <p>
            Yes. Today it is basic, and we hope you'll use it and contribute to making it better. Please check our <a href="/core/dev">Developers section.</a>
          </p>
          <hr>

          <a name="Who is behind Freedom Sponsors?"></a>
          <h3>Who is behind Freedom Sponsors?</h3>
          <p>
              <em>Calleri Informática</em> is the legal entity behind Freedom Sponsors.

              <div class="well">
                CNPJ: 10.522.445/0001-95
                Address: Rua Araçuaí, 89, Bosque dos Eucaliptos.
                São José dos Campos - São Paulo - Brazil.
                CEP: 12233-380
                Phone numbers: +55 12 39371638 / +55 12 81440013
              </div>

              <a href="http://Freedom Sponsors.org/core/user/2/tonylampada">
                  <img src="http://www.gravatar.com/avatar/4dbc40e7a6fa89a3568a926378c22ace?d=identicon&s=24">
                  Tony Lampada
              </a> is the CEO and the only person with access to the production database.
              You can get in touch directly by sending an email to <a href="mailto:tony@FreedomSponsors.org">tony@FreedomSponsors.org</a> <br>
              We've also had a lot of help from awesome people who love libre, to whom we are all deeply grateful:
              <ul>
                  <li style="line-height: 31px">
                      <a href="/core/user/162/rafael-augusto-dos-santos">
                          <img src="http://www.gravatar.com/avatar/82f8e1b821d570a689d407335de9b540?d=identicon&s=24">
                          Rafael Augusto dos Santos
                      </a>: Our favorite designer and front-end developer.
                  </li>
                  <li style="line-height: 31px">
                      <a href="/core/user/165/iuri-de-silvio">
                          <img src="http://www.gravatar.com/avatar/a4f43fa1eeac26199907acd3dde52328?d=identicon&s=24">
                          iurisilvio
                      </a>: #1 in pull requests.
                  </li>
                  <li style="line-height: 31px">
                      <a href="/core/user/10/arthur-casals">
                          <img src="http://www.gravatar.com/avatar/6313ba8e0125421f953fad0c33dab74a?d=identicon&s=24">
                          Arthur Casals
                      </a>: Always provides great advice
                  </li>
                  <li style="line-height: 31px">
                      <a href="/core/user/420/campadrenalin">
                          <img src="http://www.gravatar.com/avatar/15e648f5b6b105f3ec0d084388df365f?d=identicon&s=24">
                          Campadrenalin
                      </a>: Heavy user and great feedback
                  </li>
                  <li style="line-height: 31px">
                      <a href="/core/user/443/jarl-arntzen">
                          <img src="http://www.gravatar.com/avatar/cb272743ae9bbcab103b8589b5475173?d=identicon&s=24">
                          Jarl Arntzen
                      </a>: Valuable help with our front-end
                  </li>
                  <li style="line-height: 31px">
                      <a href="/core/user/348/zooko">
                          <img src="http://www.gravatar.com/avatar/3b7e6c77a5412587152c9e3f22b41c2a?d=identicon&s=24">
                          zooko
                      </a>: Great help with the Bitcoin support
                  </li>
                  <li style="line-height: 31px">
                      <a href="/core/user/1317/henrique-bastos">
                          <img src="http://www.gravatar.com/avatar/d47e5a6a94e793ad1a1c315d6ab63877?d=identicon&s=24">
                          Henrique Bastos
                      </a>: Killer improvements to application architecture
                  </li>
<!-- TODO: I'll let tony turn this on when I earned it :)
                  <li style="line-height: 31px">
                      <a href="/core/user/TODO/davelab6">
                          <img src="http://www.gravatar.com/avatar/TODO?d=identicon&s=24">
                          Dave Crossland
                      </a>: An eloquent English product manager who helps us sound good.
                  </li>
-->   
           </ul>
          </p>

          <hr>

          <a name="Tell me more about Freedom Sponsors!"></a>
          <h3>Tell me more about Freedom Sponsors!</h3>
          <p>
              You <em>are</em> keen! Here are 3 simple ways to get stuck in:
          <ul>
              <li>Read our <a href="http://blog.FreedomSponsors.org/about">Blog</a>, starting on the About page to learn more about our history and what we'll do next</li>
              <li>Follow tonylampada on <a href="http://twitter.com/tonylampada">Twitter</a> to keep easily informed about his progress (or Like us on <a href="http://www.facebook.com/FreedomSponsors">Facebook</a> if that's your thing)</li>
              <li>Join our <a href="https://groups.google.com/forum/?hl=en#!forum/FreedomSponsors">mailing list</a> to chat with others in our community</li>.
          </ul>
          </p>

          <hr>

          <a name="What can I do to help?"></a>
          <h3>What can I do to help?</h3>
          <p>
              We need all kinds of help, not just coding.
              Step 1: Fork us on Github <br>
              Step 2: Read our README file's section on <a href="https://github.com/FreedomSponsors/www.FreedomSponsors.org#helping-out" >Helping out</a>
          </p>
          <hr>

          <a name="I have more questions!"></a>
          <h3>I have more questions!</h3>
          <p>
            If you don't know what a Github is, but you found an issue with our website or have any suggestion or comment at all, we want to hear from you! Drop your thoughts on our <a href="/core/feedback">feedback section</a>.<br>
            If you do know what Github is, log in and <!-- button this link --> <a href="https://github.com/FreedomSponsors/www.FreedomSponsors.org/issues/new">create a new issue</a> on our repo. Write what you wish to be better and we'll hop to it.<br>
            (If you don't know what a Github is but want to find out, spend 15 fun minutes on <a href="http://try.github.io">try.github.io</a>)
          </p>
        </div>
        <div class="span1"></div>


{% endblock mainContent%}
