{% extends "core2/base.html" %}
{% load i18n %}

{% block head %}
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/issuecards/issuecards.js"></script>
    <script src="/static/js/fsapi.js"></script>
    <script src="/static/js/fslinks.js"></script>
    <script src="/static/js/fsutil.js"></script>
    <script type="text/javascript">

        var dependencies = ['issuecards']

        var mod = angular.module('home', dependencies)
        mod.config(
            function($interpolateProvider){
                $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
            }
        );

        function HomeCtrl($scope) {
            $scope.issues_sponsoring = {{ issues_sponsoring|safe }};
            $scope.issues_proposed = {{ issues_kickstarting|safe }};
        }
    </script>
{% endblock %}


{% block mainContent%}
    <div class="content" align="center" ng-app="home" ng-controller="HomeCtrl">
        <div class="home-content-section" align="left">

            <!-- FS Home Logo -->
            <img class="fs-logo" src="/static/img2/fs_logo.png"/>

            <!-- Home Search -->
            <div class="home-search-box fs-box">
                <div class="column-wrapper vcenter-content">
                    <div class="column fit">
                        <input type="text" value="Paste an issue tracker URL, search for an issue name or a project" class="fs-input search"/>
                    </div>
                    <div class="hgap-15"></div>
                    <div>
                        <a href="" class="fs-button medium blue">Search</a>
                    </div>
                </div>
            </div>

            <div class="divider"><!-- Divider --></div>

            <!-- Sponsored Issues -->
            <issue-cards issues="issues_sponsoring" title="Sponsored Issues" sponsoring="true"></issue-cards>

            <div class="divider"><!-- Divider --></div>

            <!-- Proposed Issues -->
            <issue-cards issues="issues_proposed" title="Proposed Issues" sponsoring="false"></issue-cards>
        </div>
    </div>
{% endblock mainContent%}
