{% extends "core2/base_old.html" %}
{% block mainContent%}


{% if user.getOffers %}
  <h3>Sponsoring issues</h3>
  {% include 'core2/include/offer_grid.html' with offers=user.getOffers %}
{% endif %}
{% if user.getSolutions %}
  <hr>
  <h3>Working on issues</h3>
  {% include 'core2/include/solution_grid.html' with solutions=user.getSolutions %}
{% endif %}

{% if user.getWatchedIssues %}
  <hr>
  <h3>Watched Issues</h3>
  {% include 'core2/include/issue_grid.html' %}
{% endif %}

{% if not user.getSolutions and not user.getOffers %}
<h3>You are not sponsoring nor working on any issues</h3>
<a href="/search">Find some</a>
{% endif %}

{% endblock mainContent%}
