{% extends "core/base.html" %}
{% load l10n %}
{% block mainContent%}

    <script src="/static/bootstrap/js/jquery.numeric.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script type="text/javascript">
        var mod = angular.module('pay_offer', [])
        mod.config(function($routeProvider, $interpolateProvider) {
            $routeProvider.
                when('/fill', {controller:FillCtrl, templateUrl:'/static/pay_offer/fill.html'}).
                when('/confirm', {controller:ConfirmCtrl, templateUrl:'/static/pay_offer/confirm.html'}).
                otherwise({redirectTo:'/fill'});

            $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
        });

        function FillCtrl($scope) {
            $scope.offer = {
                'id': 1
            }
        }

        function ConfirmCtrl($scope) {
        }

    </script>


    <h2>Pay US$ {{offer.price}} for issue - {{offer.issue.title}} </h2>

    <a href="{{offer.issue.get_view_link}}">View issue</a>
    {% if issue.trackerURL %}
        | <a href="{{offer.issue.trackerURL}}" target="_issue">View original</a>
    {% endif %}
    | Sponsor: <a href="{{offer.sponsor.get_view_link}}">{{offer.sponsor.getUserInfo.screenName}}</a>
    {% if offer.issue.project %}
        | Project: <a target="_project" href="{{offer.issue.project.homeURL}}">{{offer.issue.project.name}}</a>
    {% endif %}
    | Status: {{offer.status}}

    <br><br>


{#    {% if solutions_accepting_payments %}#}
{#        {% if solutions_accepting_payments|length == 1 %}#}
            Confirm amount to pay
{#        {% else %}#}
{#            More than one developer claims to have resolved the issue.#}
{#            Specify how much you'll pay to whom.#}
{#        {% endif %}#}
{#        <br><br>#}
        <form ng-app="pay_offer" method="post" action="/core/offer/pay/submit">
            {% csrf_token %}
            <div ng-view></div>
        </form>
{#    {% else %}#}
{#        <div class="alert">#}
{#            No programmer is accepting payments for this issue yet!#}
{#        </div>#}
{#    {% endif %}#}

{% endblock mainContent%}