{% extends "core2/base.html" %}
{% load i18n %}


{% block mainContent%}
    <h2> Editing project: {{ project.name }}</h2>
    <hr>
    <form method="POST" action="{% url core.views.project_views.edit %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ project.id }}">
        <div>
            <label for="image3x1">Image</label>
            <input type="file" name="image3x1" id="image3x1">
        </div>
        <div>
            <label for="description">Description</label>
            <textarea name="description" id="description">{{ project.description }}</textarea>
        </div>
        <input type="submit">
    </form>
{% endblock mainContent%}
