<!-- Comment -->
<div class="column-wrapper">
    <div class="column">
        <div class="user-picture"><img src="{{comment.author.gravatar_url_medium}}"></div>
    </div>
    <div class="hgap-15"><!-- Horizontal Gap 15px --></div>
    <div class="fs-box push-footer column fit">
        <h4 class="arial"><a href="{{comment.author.get_view_link}}">{{ comment.author.getUserInfo.screenName }}</a></h4>
        {% load markdown %}
        {% autoescape off %}
        {{ comment.content|markdown }}
        {% endautoescape %}
        <!-- Comment Footer -->
        <div class="fs-box-footer card-footer">
            <div class="column-wrapper">
                <div class="column fit">
                    <span>{{ comment.creationDate|date:"D, d/M/Y" }}</span>
                    <div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
                    <a href="#comment-{{ comment.id }}">Permalink</a>
                </div>
                <div class="column fit" align="right">
                    <a href="">Edit</a>
                    <div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
                    <a href="">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
