<div class="footer">
    <div class="footer-left-section">
    </div>
    <div class="footer-midle-section">
        <a href="/faq" class="footer-link">FAQ</a>
        <a href="/developers" class="footer-link">Developers</a>
        <a href="/project" class="footer-link">Project list</a>
        <a href="http://facebook.com/freedomsponsors" class="footer-link">Facebook</a>
        <a href="/jslic#blah" rel="jslicense">JavaScript license information</a>
        <span class="right">FreedomSponsors, Copyright © 2012-2013</span>
    </div>
    <div class="footer-right-section">
    </div>
</div>