{% load i18n %}
{% load l10n %}

<!-- Issue Buttons -->
{% if actionbar.sponsor %}
    {% if user.is_authenticated %}
        <a href ng-click="sponsor()" class="fs-button green">Sponsor this issue</a>
    {% else %}
        <a href="/core/login/?next={{issue.get_view_link}}" class="fs-button green">Sponsor this issue</a>
    {% endif %}
{% endif %}
{% if actionbar.pay %}
    <a href="/core/offer/{{myoffer.id}}/pay" class="fs-button green">Pay Offer</a>
{% endif %}
{% if actionbar.change %}
    <a href ng-click="change()" class="fs-button green">Change Offer</a>
{% endif %}
{% if actionbar.revoke %}
    <a href ng-click="revoke()" class="fs-button green">Revoke Offer</a>
{% endif %}
{% if actionbar.work %}
    <a href ng-click="work()" class="fs-button blue">Work on this issue</a>
{% endif %}
{% if actionbar.resolve %}
    {% if user.is_authenticated %}
        <a href ng-click="resolve()" class="fs-button blue">Resolve issue</a>
    {% else %}
        <a href="/core/login/?next={{issue.get_view_link}}" class="fs-button blue">Resolve issue</a>
    {% endif %}
{% endif %}
{% if actionbar.abort %}
    <a href ng-click="abort()" class="fs-button blue">Abort work</a>
{% endif %}


<!-- Modal -->
<div class="modal fade in" id="action_modal">
    <div class="modal-dialog column-wrapper vertical">
        <div class="column fit"></div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close_modal()" >&times;</button>
                <span class="modal-title font-size-20 ubahn grey-text">Sponsor issue</span>
            </div>
            <div class="divider small"></div>
            <div class="modal-body">
                <p>Modal body</p>
                <p>Modal body</p>
                <p>Modal body</p>
                <p>Modal body</p>
                <p>Modal body</p>
                <p>Modal body</p>
                <p>Modal body</p>
            </div>
            <div class="modal-footer">
                <a href ng-click="close_modal()" class="fs-button green medium">Sponsor!</a>
            </div>
        </div>
        <div class="column fit"></div>
    </div>
</div>
