<div class="header" align="center">
    <div class="header-top-section">
    </div>
    <div class="header-middle-section">
        <a href="/" class="menu-option">Home</a>
        <a href="/core/issue" class="menu-option">Search</a>
        <a href="/core/project" class="menu-option">Projects</a>
        <a href="/core/stats" class="menu-option">Stats</a>
        <a href="/faq" class="menu-option">Help</a>
        <a href="/core/feedback" class="menu-option">Feedback</a>
        <input type="text" placeholder="Quick search" class="fs-input black search menu-search-p"/>
    </div>
    <div class="header-bottom-section">
        <div class="breadcumb-p">
            You are here: {
				<span class="breadcumbs-list">
                    <a href="" >Home</a> / <a href="" >Project name</a> / <a href="" >Issue name</a>
                </span>
            };
        </div>
        <div class="login-section-p">
            Sign in with:
            <a href="/login/google" class="social-login google"></a>
            <a href="/login/github" class="social-login github"></a>
            <a href="/login/facebook" class="social-login facebook"></a>
            <a href="/login/twitter" class="social-login twitter"></a>
            <a href="/core/login">More +</a>
        </div>
    </div>
</div>
