<!-- Sponsored Issue Card -->
<div class="fs-box push-footer issue-card sponsored">
	<!--Issue Title-->
	<a href="" class="font-size-18 darkblue-text ubahn">Decouple offer currency and payment currency</a>
	
	<div class="divider small"><!--Small Divider--></div>
	
	<!--Issue Values-->
	<div class="column-wrapper">
		<div class="column fit font-size-12">
			<span>$</span><span class="paid-value">1.000.000</span><span> Paid</span>
		</div>
		<div class="column fit font-size-12 orange-text" align="right">
			<span>$</span><span class="offered-value">2.000.000</span><span> Offered</span>
		</div>
	</div>
	
	<!--Issue Sponsors-->
	<div class="card-sponsors">
		<div class="column-wrapper">
			<div class="user-picture"></div>
			<div class="user-picture"></div>
			<div class="user-picture"></div>
			<div class="user-picture"></div>
		</div>
		<a href="" class="sponsors-label">and 10 more sponsors</a>
	</div>
	
	<!--Issue Description-->
	<p class="description">É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase de construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de propósito (injetando humor, e coisas do gênero).</p>
	
	<!--Issue Project Logo-->
	<div class="project-logo">
		<img src="/static/img2/project_logos/freedomsponsors_logo.png"/>
	</div>
	
	<!--Issue Status-->
	<div class="card-status done"></div>
	
	<!--Issue Card Footer-->
	<div class="fs-box-footer card-footer">
		<div class="column-wrapper">
			<div class="column fit">
				<span class="views-number">23</span><span> views</span>
			</div>
			<div class="column fit" align="right">
				<span class="comments-number">33</span><span> comments</span>
			</div>
		</div>
	</div>
</div>