{% extends "email/base.html" %}
{% block mainContent%}
Hello {{ you.getUserInfo.screenName }}<br>
<a href="{{SITE_HOME}}{{ solution.programmer.get_view_link }}" style="color: #08C;text-decoration: none;cursor: auto;">
  {{ solution.programmer.getUserInfo.screenName }}</a> is ready to accept payments for issue <a href="{{SITE_HOME}}{{ solution.issue.get_view_link }}" style="color: #08C;text-decoration: none;cursor: auto;">
    {{ solution.issue.title }}</a><br><br>

The issue is not done yet and you are free to choose: you can pay now, or you can wait until after the issue is finished. No pressure :-)

Thank you for supporting Free Software!
We will let you know if there are any updates.
{% endblock mainContent%}

