{% extends "email/base.html" %}
{% block mainContent%}

    Hello {{ you.username }}, welcome to <a href="http://www.freedomsponsors.org/">FreedomSponsors</a><br>
<br>
    Thank you for believing in the FreedomSponsors idea. Let's make Free Software even better together! :-) <br>
 <br>
    Please take a few minutes to take a look at the <a href="http://blog.freedomsponsors.org/about/">about page</a>, and also <a href="http://blog.freedomsponsors.org/faq/">the FAQ</a>. <br>
 <br>
    If you own any Github repositories, you might find the <a href="http://blog.freedomsponsors.org/freedomsponsors-github-integration/">Github integration</a> feature interesting. <br>
    Similiar functionality is also available for the JIRA issue tracker as a <a href="https://github.com/freedomsponsors/freedomsponsors-jira-plugin">JIRA plugin</a>. <br>
 <br>
    <a href="http://blog.freedomsponsors.org/">The blog</a> has constant updates about the platform.  <br>
    For even more detailed/realtime updates, you can like our <a href="http://www.facebook.com/freedomsponsors">facebook page</a>, or follow <a href="https://twitter.com/tonylampada">@tonylampada</a> on Twitter. <br>
 <br>
    FreedomSponsors is <a href="https://github.com/freedomsponsors/www.freedomsponsors.org">open source on Github</a>. Feel free to browse the code. <br>
    And if you'd like to help, you're very welcome! <br>
 <br>
    Right now we're trying to make FreedomSponsors known by as many developers as possible, so please help spread the word. Crowdfunding will only work when there's an actual crowd. Even a single tweet is fine :-) <br>
 <br>
    If you want to give any kind of feedback, please pick one <br>
    1) Open an issue in <a href="https://github.com/freedomsponsors/www.freedomsponsors.org/issues?state=open">our issue tracker</a> <br>
    2) Post a <a href="http://www.freedomsponsors.org{% url 'feedback' %}">Feedback</a> topic <br>
    3) Leave your opinion in <a href="http://blog.freedomsponsors.org/your-opinion/">our public wall</a> <br>
    4) Email tonylampada@gmail.com directly <br>
 <br>
    We are listening and very interested in what you have to say. <br>
 <br>
    Okay, that was it! <br>
    I hope you like FreedomSponsors :-) <br>
 <br>
    Tony Lâmpada - The FreedomSponsors guy <br>

{% endblock mainContent%}
