<ul class="pagination">
	{% if page_count %}
		{% if paginator.has_previous %}
			<li><a href="?page={{ paginator.previous_page_number }}{{ getvars }}">&lsaquo;&lsaquo; previous</a></li>
		{% endif %}
		{% for page in pages %}
			<li{% if page_obj == page %} class="active" {% endif %}><a href="?page={{ page }}{{ getvars }}">{{ page }}</a></li>
		{% endfor %}
		{% if paginator.has_next %}
			<li><a href="?page={{ paginator.next_page_number }}{{ getvars }}" >next &rsaquo;&rsaquo;</a></li>
		{% endif %}
	{% endif %}
</ul>