<div class="card-list-section">
    <div class="card-list-header">
        <h3 class="boxed medium">{{ title }}</h3>
        <a href class="fs-button square grey less" ng-class="{'disabled' : no_less()}" ng-click="less()">«</a>
        <a href class="fs-button square grey more" ng-class="{'disabled' : no_more()}" ng-click="more()">»</a>
        <img ng-show="is_loading" src="/static/img2/ajax-loader.gif">
        <a href="/core/issue/?operation={[{getViewAllOperation()}]}" class="fs-button medium grey view-all right">View All</a>
    </div>
    <div class="column-wrapper">
        <div ng-repeat="issue in issues" ng-include="getInclude()"></div>
    </div>
</div>
