/* Header
----------------------------------------------- */

input.menu-search-p{
	width: 200px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.breadcumb-p{
	float:left;
	margin-left:10px;
}

input.home-search-p{
	width: -moz-calc(100% - 200px);
	width: -webkit-calc(100% - 200px);
	width: calc(100% - 200px);
	
	position:absolute;
	top:30px;
	left:30px;
}

a.home-search-p{
	position: absolute;
	top: 27;
	right: 30px;
}

.login-section-p{
	float:right;
	margin-right:10px;
}