<!-- Header -->
<div class="header" align="center">
	<!-- Header Top Section-->
    <div class="header-top-section" align="right">
		<div class="login-section">
            <a href="" >Login</a> or Sign in with:
            <a href="" class="social-login google"></a>
            <a href="" class="social-login github"></a>
            <a href="" class="social-login facebook"></a>
            <a href="" class="social-login twitter"></a>
            <a href="">More »</a>
        </div>
    </div>
	<!-- Header Middle Section-->
    <div class="header-middle-section">
        <a href="" class="menu-option">Home</a>
        <a href="" class="menu-option">Search</a>
        <a href="" class="menu-option">Projects</a>
        <a href="" class="menu-option">Overview</a>
        <a href="" class="menu-option">Help</a>
        <a href="" class="menu-option">Feedback</a>
        <input type="text" value="Quick search" class="fs-input black search menu-search-p"/>
    </div>
	<!-- Header Bottom Section-->
    <div class="header-bottom-section">
        <div class="breadcumb-section left">
            You are here: {
				<span class="breadcumbs-list">
					<a href="" >Home</a> / <a href="" >Project name</a> / <a href="" >Issue name</a>
				</span>
            };
        </div>
		
		<div class="buttons-section right">
			<a href="" class="fs-button square green mini">+</a><a href="" class="sponsor-new font-size-14 green-text">Sponsor new issue</a>
			<a href="" class="fs-button square blue mini">+</a><a href="" class="propose-new font-size-14 blue-text">Propose new issue</a>
        </div>
    </div>
</div>
