<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <style>
      input.required, error {
        border: 2px solid red;
      }
    </style>
    <title>{% block title %}Tagging Exploration{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}{% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
        {% block main_content %}{% endblock %}
    </div>
</body>
</html>